# Mapping legacy cysteine and lysine CpDAA data to a reference fasta file

11.05.19

@mfpfox

---

###### track version hisotry with 
> ‘entry name tracker’ tool 


**VOCAB:**
* **primary (citable) accession number** = stable identifiers used to cite UKB entries. each entry is assigned a unique accession number. 
    more info below <https://www.uniprot.org/help/accession_numbers>

* **protein isoform name** = 
    - Given that for most genes there is no accepted, standardized nomenclature that covers all individual isoforms, our policy is to identify them using simple numbering, beginning with isoform 1. Example: Q15406
    - When a comprehensive nomenclature does exist for all isoforms, then this will be applied. Example: P04150
    - In either case all isoform-specific synonyms used in the literature will also be recorded, in order to facilitate the identification of specific isoform sequences by users. Example: P08235


* **UKB stable ID == primary accession for entry**

---

## are all uniprot proteins unique??
###### only detected 3979 duplicated protein sequence:
**P86791 & P86790**

<https://uswest.ensembl.org/Homo_sapiens/Transcript/ProteinSummary?db=core;g=ENSG00000122674;r=7:5898733-5926550;t=ENST00000325974>
> P86791 (CCZ1_HUMAN) ENST00000325974﻿; ENSP00000325681﻿; ENSG00000122674
    
    > CCZ1 homolog, vacuolar protein trafficking and biogenesis associated [Source:HGNC Symbol;Acc:HGNC:21691]

https://uswest.ensembl.org/Homo_sapiens/Transcript/ProteinSummary?db=core;g=ENSG00000146574;r=7:6794134-6826770;t=ENST00000316731>
> P86790 (CCZ1B_HUMAN) ENST00000316731﻿; ENSP00000314544﻿; ENSG00000146574

    > CCZ1 homolog B, vacuolar protein trafficking and biogenesis associated [Source:HGNC Symbol;Acc:HGNC:21717]

---
---
---

# PROBLEM (before obtaining copy of fasta file from 11_2012)

## from Keri's Cys paper: database (release-2012_11)

### only available release from 2012 is 01_2012, see UKB README from FTP site below...
<ftp://ftp.uniprot.org/pub/databases/uniprot/previous_releases/>

### also testing 01_2013 which is less time between actual data release vs 01_2012
<ftp://ftp.uniprot.org/pub/databases/uniprot/previous_releases/release-2013_01/knowledgebase/>


Universal Protein Resource (UniProt)
====================================

The Universal Protein Resource (UniProt), a collaboration between the European
Bioinformatics Institute (EBI), the SIB Swiss Institute of Bioinformatics, and
the Protein Information Resource (PIR), is comprised of three databases, each
optimized for different uses. The UniProt Knowledgebase (UniProtKB) is the
central access point for extensively curated protein information, including
function, classification and cross-references. The UniProt Reference Clusters
(UniRef) combine closely related sequences into a single record to speed up
sequence similarity searches. The UniProt Archive (UniParc) is a comprehensive
repository of all protein sequences, consisting only of unique identifiers and
sequences.

The UniProt Knowledgebase (UniProtKB) has been created from Swiss-Prot, TrEMBL
and PIR-PSD. It consists of two parts, one containing fully manually annotated
records and another one with computationally analysed records awaiting full
manual annotation. The two sections will be referred to as the Swiss-Prot
section of the UniProt Knowledgebase (UniProtKB/Swiss-Prot) and TrEMBL section
of the UniProt Knowledgebase (UniProtKB/TrEMBL), respectively. PIR-PSD release
80.0 of 31-Dec-2004 has been fully integrated into these sections. This was the
last release of PIR-PSD.

This directory, 
/uniprot/previous_releases/, 
contains previous releases of the UniProt Knowledgebase
and of UniRef.
**Archives of each release are kept for 2 years.
For older releases only major and first releases of each year are kept.**

The directory itself contains two subdirectories:

subdirectory /knowledgebase:

contains three compressed tar files,
knowledgebaseYYYY_AA.tar.gz archiving 
   uniprot_sprot.dat, 
   uniprot_trembl.dat
   and the /docs directory 
uniprot_sprot-onlyYYYY_AA.tar.gz archiving
   uniprot_sprot.dat,
   uniprot_sprot.fasta,
   uniprot_sprot_varsplic.fasta
   and uniprot_sprot.xml
knowledgebase-docs-onlyYYYY_AA.tar.gz (from release 2019_02) archiving
   the /docs directory
and the files,
  UniProtKB_SwissProt-relstat.html (from release 2011_01)
  UniProtKB_TrEMBL-relstat.html (from release 2011_01)
for releaseYYYY_AA 

subdirectory /uniref:

contains one compressed tar file, unirefYYYY_AA.tar.gz,
archiving 3 separate files
   uniref50.xml,
   uniref90.xml 
   uniref100.xml 
for releaseYYYY_AA

Note:
The current release of the UniProt Knowledgebase and UniRef is 
available at /uniprot/current_release (in flat file, XML and FASTA formats,
as well as by taxonomic division).

## 2012_01 & 2013_01 processing [fasta to csv]

downloaded 11.5.19, shell notes 
```bash
python /Users/mariapalafox/Desktop/Toolbox/processUniprotFasta.py uniprot_sprot.fasta uniprot_sprot_fasta.csv uniprot

grep '_HUMAN' uniprot_sprot_fasta.csv > human_uniprot_sprot.csv

# 2012
wc -l human_uniprot_sprot.csv  # 20242 human_uniprot_sprot.csv (no header)

# 2013
wc -l human_uniprot_sprot.csv # 20232 human_uniprot_sprot.csv (no header)

# added header
cat header.csv human_uniprot_sprot.csv > human_sprot_2012_01.csv or 2013 version saved

```

## comparing to set of 4119 IDs from merged CK detected subset data:
```python
# importing 2012 fasta canonical seq
ukb12 = pd.read_csv("human_sprot_2012_01.csv")
# importing 2013 fasta canonical seq
ukb13 = pd.read_csv("human_sprot_2013_01.csv")
```
### results of ID searching:
#### 01_2013 has 4088/4119 (-31) 
#### 01_2012 has 4090/4119 (-29)
#### 2018 has 4000/4119 (-119) 

---
---
---
---
---
---

# ABOUT Cravatt lab original fasta file
[uniprot fasta format](https://www.uniprot.org/help/fasta-headers)

- included '>tr' rows, for UniProtKB/TrEMBL
    - some ID may not be found because we are only searching in 2018 SWISSPROT CCDS set
 
| database |ID count |
|----------|-------|
| swissprot| 18832 |
| trembl   | 1149  |
| total    | 19981 |
| tot. detected | 4119|
| tot. in 11_2012 | 4093|

## [idea!]

**grab the SV=# information from 1st line of entry, which will help analysis to explain why seqeunces are different, "Q12345 pos not found because teh SV was 1 in 2012 and 10 in 2018**

**grab the PE=# info for protein existence level information**

# accounting in MAPPING_tables.xlsx
- directory of project: "/Users/mariapalafox/Box Sync/CODE_DATA/dir_MAPpaper/"

## DETECTED subsets - input files: 
1. LYS_reactivity_2012_4579.csv
2. LYS_pan_target_2012_8360.csv
3. CYS_reactivity_2012_1541.csv
4. CYS_pan_target_2012_6157.csv

### 2018 total C and K in canonical sequence file:
**Kpos_CCDSset.csv** == 614,333 lysines in 2018 CCDS UKB

**Cpos_CCDSset.csv** == 242,940 cysteines in 2018 CCDS UKB

---

# REASON why some Nature positions dont match CCDS CYS LYS positions: 
1. entry ID has been updated
2. entry has been merged with another 
3. sequence corresponding to entry has changed so CYS no longer in same pos

**biostar related comment:** "The reason why these numbers do not correspond to the numbers from the release notes is that there have been deletions, merges and demerges, and entries that were present in 2014_09 may no longer exist now."

---
---
---

In [1]:
import os
import sys
import pandas as pd
import numpy as np

In [2]:
sys.path.append("/Users/mariapalafox/Desktop/Toolbox")
from all_funx import *

In [3]:
from IPython.display import display
pd.set_option('display.max_columns', None)
pd.options.display.max_seq_items = 2000

from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

In [4]:
os.chdir("/Users/mariapalafox/Box Sync/CODE_DATA/dir_MAPpaper/CYS_LYS_2012_to2018UKBpositions/")
print(os.listdir())

['CCDS2018_all_Cpos.csv', 'CYS_pan_target_2012_6157.csv', '.DS_Store', 'LYS_reactivity_2012_4579.csv', 'sprot_11_2012_detectedIDs_4093.csv', 'CYS_reactivity_2012_1541.csv', 'pos_found_K_pan.csv', 'CravattLAB', 'pos_found_K_react.csv', 'MAPPED_CK_v1', 'LYS_pantarget_11_2012IDs_8350.csv', 'NATURE2012_UKBccds2018_files', 'POS_NOT_FOUND_DROP_THESE_IDS.csv', 'pos_found_C_pan.csv', 'CCDS2018_all_Kpos.csv', 'LYS_pan_target_2012_8360.csv', '2012_01_UKB_Swiss_release', 'CYS_reactivity_11_2012IDs_1483.csv', 'sprot_11_2012_all_Cpos.csv', 'pos_found_C_react.csv', 'Reprocesssing2012_Nature_allCYSLYSdata.xlsx', 'LYS_reactivity_11_2012IDs_4576.csv', 'UKB_CCDS_2018_06_fasta.csv', 'sprot_11_2012_all_Kpos.csv', 'CYS_pantarget_11_2012IDs_6157.csv', '2013_01_UKB_Swiss_release', 'cravattlab_11_2012.csv', 'UniqueIDs_og_data_2012_11_uniprot_sprot_4119.csv']

# [0] how many uniprot IDs total were detected in chemoproteomic experiments?

In [53]:
# importing 2018 fasta canonical seq
ukb18 = pd.read_csv("UKB_CCDS_2018_06_fasta.csv")

# importing 2018 CK positions
#Cysnature = pd.read_csv("CCDS2018_all_Cpos.csv", header=None)
#Lysnature = pd.read_csv("CCDS2018_all_Kpos.csv", header=None)

# importing 2012 database searched to generate CK positions
chempro = pd.read_csv("cravattlab_11_2012.csv")

# importing cys react and pan/target
Creact = pd.read_csv("CYS_reactivity_2012_1541.csv",header=None)
Cpan = pd.read_csv("CYS_pan_target_2012_6157.csv",header=None)

# importing lys react and pan/target
Kreact = pd.read_csv("LYS_reactivity_2012_4579.csv",header=None)
Kpan = pd.read_csv("LYS_pan_target_2012_8360.csv",header=None)

**merge all chemoproteomic data IDs into set of all unique IDs ever detected "origianl ID count"**

In [7]:
idCR = Creact[[0]] 
idCP = Cpan[[0]]
idKR = Kreact[[0]] 
idKP = Kpan[[0]]
mer2012 = pd.concat([idCR, idCP, idKR, idKP])
mer2012.head(3)

              0
0   Q9Y6W6_C177
1    Q9Y6M9_C42
2  Q9Y6J0_C1197

In [8]:
def splitID(df1, col):
    new1 = df1[col].str.split("_", n=1, expand = True)
    df1["ID"] = new1[0]
    # return set of IDs
    setID = set(df1.ID)
    return setID

In [10]:
# split merged chemo data to isolate all unique IDs
IDsetog = splitID(mer2012, 0)
print(len(IDsetog))

4119

In [11]:
IDog = list(IDsetog)
IDog = pd.DataFrame(IDog)

In [12]:
IDog.columns = ['unique_IDs']
IDog.head(5)

  unique_IDs
0     Q8IZ69
1     Q9UHQ1
2     Q96RL7
3     Q9UL12
4     Q9NRL3

In [13]:
# saving this file to label 2012 and 2018 fasta-csv files for detected ID match
IDog.to_csv("UniqueIDs_og_data_2012_11_uniprot_sprot_4119.csv", index=False)

In [14]:
# 2018 FASTA
dropUnnamed(ukb18)
ukb18.head(3)

,ID,entryName,Length,proSequence
0,O95139,NDUB6_HUMAN,128,MTGYTPDEKLRLQQLRELRRRWLKDQELSPREPVLPPQKMGPMEKF...
1,O75438,NDUB1_HUMAN,58,MVNLLQIVRDHWVHVLVPMGFVIGCYLDRKSDERLTAFRNKSMLFK...
2,Q8N4C6,NIN_HUMAN,2090,MDEVEQDQHEARLKELFDSFDTTGTGSLGQEELTDLCHMLSLEEVA...

In [15]:
chempro.head(4)

,ID,entryName,Length,proSequence
0,Q8NGR1,O13A1_HUMAN,328,MKLWMESHLIVPETRPSPRMMSNQTLVTEFILQGFSEHPEYRVFLF...
1,Q8N6Q8,MET25_HUMAN,603,MAASCPLPVTPDLPTLRAKLQGLLQFLRDALSISNAHTVDFYTESV...
2,Q9UBK2,PRGC1_HUMAN,798,MAWDMCNQDSESVWSDIECAALVGEDQPLCPDLPELDLSELDVNDL...
3,P35998,PRS7_HUMAN,433,MPDYLGADQRKTKEDEKDDKPIRALDEGDIALLKTYGQSTYSRQIK...

In [16]:
# ADDING COLUMN AND DROPPING ROWS WITH NO ID MATCH
IDlistog = IDog.unique_IDs.tolist()
db18 = addcolumnconditionalDrop(IDlistog, ukb18, 'ID', 'detected_2012_ID') 
dbchem = addcolumnconditionalDrop(IDlistog, chempro, 'ID', 'detected_2012_ID')

**variables: db18- database 2018 with only rows with 4119 IDs, dbchem- MS database where all IDs should be found and all positions found**

In [17]:
print(len(IDlistog)) # 4119 original IDs in dataset

4119

In [47]:
describeMe(dbchem)
describeMe(db18)

(4093, 5)
Index(['ID', 'entryName', 'Length', 'proSequence', 'detected_2012_ID'], dtype='object')
ID                  0
entryName           0
Length              0
proSequence         0
detected_2012_ID    0
dtype: int64
(4000, 5)
Index(['ID', 'entryName', 'Length', 'proSequence', 'detected_2012_ID'], dtype='object')
ID                  0
entryName           0
Length              0
proSequence         0
detected_2012_ID    0
dtype: int64

## which IDs from merged chemoproteomic data were not found in MS database file and 2018 database?

In [20]:
# IDs in 2012 data but not in 01_2012 uniprot fasta
det12_list = list(dbchem.ID)
det18_list = list(db18.ID)

notin12 = diffList(IDlistog, det12_list)
print(notin12)
print(len(notin12))
print()


notin18 = diffList(IDlistog, det18_list)
print()
print(notin18)
print(len(notin18))

['Q5VTE0', 'P83881', 'P68363', 'B2RPK0', 'A6NEC2', 'Q8NHW5', 'A6NNZ2', 'P04350', 'Q6P474', 'P86791', 'P26640', 'Q9BTY7', 'Q99613', 'A6NKZ1', 'Q9BQE3', 'Q5VYJ4', 'P63241', 'P58107', 'P19105', 'Q9GZM3', 'P0C860', 'P63261', 'Q71DI3', 'A6NF79', 'P0DMV9', 'Q8IYB9']
26


['P62861', 'Q9ULA0', 'Q5VTE0', 'P83881', 'P07988', 'Q9Y5J9', 'J3QR44', 'P0CB43', 'E7ETI0', 'I3L499', 'Q6P474', 'Q96I15', 'O94854', 'A6NKZ1', 'Q8WX92', 'H0YGG7', 'P49411', 'P30460', 'P61758', 'O43847', 'P62158', 'F5H5P2', 'Q8N5W9', 'H3BN57', 'Q5VYK3', 'P05534', 'P56556', 'P0CG05', 'Q8IXH7', 'C9J4G0', 'O00422', 'Q7Z3J2', 'Q86YG4', 'Q8WYJ6', 'H0Y2S0', 'E7EQZ4', 'I3L3Q1', 'A6NEC2', 'Q8NHW5', 'Q8NAG6', 'A6NNZ2', 'Q8IY67', 'Q9NYZ3', 'Q9Y6A9', 'Q9NVE7', 'Q6DKI1', 'A6NE09', 'Q9Y618', 'P29034', 'A6NF79', 'Q7Z460', 'P42858', 'P22061', 'E7EVK2', 'H3BQZ7', 'Q9H3P2', 'Q5VTU8', 'Q8N9T8', 'Q8NDA2', 'P57053', 'B2RPK0', 'P0CW22', 'O15027', 'Q53H96', 'Q5JZ73', 'P17405', 'Q96EY9', 'Q9H3K6', 'Q9Y4D8', 'P0DI82', 'P01892', 'P01871', 'D6RAD4', 'Q9H1Z4', 'H3BQ06', 'P16455', 'Q9NZL4', 'P55145', 'J3KR12', 'Q9H7T3', 'P62333', 'P24928', 'Q9NX70', 'O75592', 'O43504', 'Q9Y5A7', 'Q9H9E3', 'Q9Y4K4', 'Q16181', 'H7BZ11', 'A8MVX7', 'P16435', 'H3BN98', 'O60361', 'P09525', 'Q6ZNA5', 'Q6P4F2', 'Q5VYJ4', 'I3L420', 'P49454', 'A2A2Z9', 'F8VZW7', 'P49189', 'Q6NZY4', 'P08107', 'O75122', 'P30042', 'H3BVE0', 'P0C860', 'A0JLT2', 'P26440', 'B0V043', 'Q9H6E5', 'E7EVH7', 'E2QRD5', 'Q99836', 'Q9BWM7', 'P30085', 'Q86V81']
119

### checking the IDs that were in the chemoproteo. CK set but not in the MS database from 11_2012...

* Caution, could be product of pseudogene: Q5VTE0;B2RPK0;Q8NHW5;Q6P474;P58107 (uncertain of MET initiator);P0C860;Q71DI3

* obsolete: A6NF79;
 
* ribosomal protein: P83881;

* homolog: Q9BTY7 (HGH1 homo); 

* **should be in MS database: P68363 (tubulin);A6NEC2 (aminopeptidase);A6NNZ2 (tubulin);P04350 (tubulin);P86791 (guanine exchange factor); P26640 (tRNA ligase);P63241 (mRNA binding protein);P19105 (myosin light chain);Q9GZM3 (DNA dep. RNA pol);P63261 (actin); P0DMV9 (heat shock); Q8IYB9 (zinc finger)**

## moving on without these IDs

In [24]:
dbchem.reset_index(inplace=True, drop=True)
dbchem.sample(10)

,ID,entryName,Length,proSequence,detected_2012_ID
3417,O43809,CPSF5_HUMAN,227,MSVVPPNRSQTGWPRGVTQFGNKYIQQTKPLTLERTINLYPLTNYT...,True
3279,P67936,TPM4_HUMAN,248,MAGLNSLEAVKRKIQALQQQADEAEDRAQGLQRELDGERERREKAE...,True
2190,P48960,CD97_HUMAN,835,MGGRVFLAFCVWLTLPGAETQDSRGCARWCPQNSSCVNATACRCNP...,True
344,Q9NPI6,DCP1A_HUMAN,582,MEALSRAGQEMSLAALKQHDPYITSIADLTGQVALYTFCPKANQWE...,True
71,Q99259,DCE1_HUMAN,594,MASSTPSSSATSSNAGADPNTTNLRPTTYDTWCGVAHGCTRKLGLK...,True
1265,Q14240,IF4A2_HUMAN,407,MSGGSADYNREHGGPEGMDPDGVIESNWNEIVDNFDDMNLKESLLR...,True
1909,Q9NS86,LANC2_HUMAN,450,MGETMSKRLKLHLGGEAEMEERAFVNPFPDYEAAAGALLASGAAEE...,True
1230,P20042,IF2B_HUMAN,333,MSGDEMIFDPTMSKKKKKKKKPFMLDEEGDTQTEETQPSETKEVEP...,True
1599,Q9NZZ3,CHMP5_HUMAN,219,MNRLFGKAKPKAPPPSLTDCIGTVDSRAESIDKKISRLDAELVKYK...,True
3049,Q9NS87,KIF15_HUMAN,1388,MAPGCKTELRSVTNGQSNQPSNEGDAIKVFVRIRPPAERSGSADGE...,True

In [25]:
dbchem.to_csv("sprot_11_2012_detectedIDs_4093.csv", index=False)

# [1] Formatting chemoproteomic data to contain only 4093 IDs also in 11_2012 ukbsp file from cravatt lab

4119-26 = 4093

## [a] make sure subset files for cys and lys are non-redundant 
- (there is redundancy however between label_type files, like positions from panReactive set are also in LMH data)

In [54]:
# changing labels
labels = ["pos_ID","reactivity"]
Creact.columns = labels
Kreact.columns = labels
labelpan = ['pos_ID','labelType']
Kpan.columns=labelpan
Cpan.columns=labelpan

**pos counts added to MAPPING_tables.xlsx under 2012 chemoproteomic files**

In [55]:
# check for duplicates in group files
print(len(Creact.pos_ID))
print(len(set(Creact.pos_ID)))

print(len(Kreact.pos_ID))
print(len(set(Kreact.pos_ID)))

print(len(Cpan.pos_ID))
print(len(set(Cpan.pos_ID)))

print(len(Kpan.pos_ID))
print(len(set(Kpan.pos_ID)))

1541
1541
4579
4579
6157
6157
8360
8360

**NOTE:  Nature data does not have redundancy when you process the reactivity data seperate from the pan/target data**

In [56]:
# EVER LABELED 2012 CYS 
CYSever2012 = set(list(Creact.pos_ID) + list(Cpan.pos_ID))
print(len(CYSever2012))
# EVER LABELED 2012 LYS
LYSever2012 = set(list(Kreact.pos_ID) + list(Kpan.pos_ID))
print(len(LYSever2012))

6510
9327

In [57]:
print(1541 + 6157) # redundant CYS
print(6510 - 7698) # CYS overlap
print(4579+8360) # redundant LYS
print(12939 - 9327) # LYS overlap

7698
-1188
12939
3612

## [b] split pos_ID col and count # of unique positions in subsets and IDs

In [58]:
def split_ID(df1, col):
    new1 = df1[col].str.split("_", n=1, expand = True)
    df1["ID"] = new1[0]
    return df1

In [59]:
def count_unique_IDs(df, col):
    idset = set(df[col])
    print("unique IDs in df: ", len(idset))
    return idset

**ID counts added to MAPPING_tables.xlsx under 2012 chemoproteomic files**

In [60]:
# 2012 cys react group
crea = split_ID(Creact, 'pos_ID')
crea.head(3)

         pos_ID    reactivity      ID
0   Q9Y6W6_C177  20.00 1/2/6   Q9Y6W6
1    Q9Y6M9_C42   5.74 1/1/6   Q9Y6M9
2  Q9Y6J0_C1197  20.00 1/2/6   Q9Y6J0

In [61]:
# 2012 cys pan group
cpant = split_ID(Cpan, 'pos_ID')
cpant.head(3)

        pos_ID      labelType      ID
0  P26641_C266  Iodoacetamide  P26641
1  P07900_C374  Iodoacetamide  P07900
2  P23528_C139  Iodoacetamide  P23528

In [62]:
# 2012 lys react group
krea = split_ID(Kreact, 'pos_ID')
krea.head(3)

        pos_ID  reactivity      ID
0  P52758_K117         0.1  P52758
1   P02766_K35         0.1  P02766
2   P51572_K79         0.2  P51572

In [63]:
# 2012 lys oan group
kpant = split_ID(Kpan, 'pos_ID')
kpant.head(3)

         pos_ID labelType      ID
0  A0AVT1_K1014     IodoL  A0AVT1
1   A0AVT1_K544     IodoL  A0AVT1
2    A0AVT1_K86     IodoL  A0AVT1

## [c] label 4093 IDs chemoproteomic position data

In [65]:
det12_list = list(dbchem.ID)
print(len(det12_list))

4093

In [66]:
# ADDING COLUMN AND DROPPING ROWS WITH NO ID MATCH
Creact = addcolumnconditionalDrop(det12_list, crea , 'ID', '11_2012_detectedID') 
Cpan = addcolumnconditionalDrop(det12_list, cpant , 'ID', '11_2012_detectedID') 
Krea = addcolumnconditionalDrop(det12_list, krea , 'ID', '11_2012_detectedID') 
Kpant = addcolumnconditionalDrop(det12_list, kpant , 'ID', '11_2012_detectedID')

In [68]:
# RESIDUE COUNT LEVEL
print(Creact.shape)
print(Cpan.shape)
print(Krea.shape)
print(Kpant.shape)

(1483, 4)
(6157, 4)
(4576, 4)
(8350, 4)

In [74]:
Creact.to_csv("CYS_reactivity_11_2012IDs_1483.csv", index=False)
Creact.head(3)

         pos_ID    reactivity      ID 11_2012_detectedID
0   Q9Y6W6_C177  20.00 1/2/6   Q9Y6W6               True
1    Q9Y6M9_C42   5.74 1/1/6   Q9Y6M9               True
2  Q9Y6J0_C1197  20.00 1/2/6   Q9Y6J0               True

In [75]:
Cpan.to_csv("CYS_pantarget_11_2012IDs_6157.csv", index=False)
Cpan.head(3)

        pos_ID      labelType      ID 11_2012_detectedID
0  P26641_C266  Iodoacetamide  P26641               True
1  P07900_C374  Iodoacetamide  P07900               True
2  P23528_C139  Iodoacetamide  P23528               True

In [77]:
Krea.to_csv("LYS_reactivity_11_2012IDs_4576.csv", index=False)
Krea.head(3)

        pos_ID  reactivity      ID 11_2012_detectedID
0  P52758_K117         0.1  P52758               True
1   P02766_K35         0.1  P02766               True
2   P51572_K79         0.2  P51572               True

In [78]:
Kpan.to_csv("LYS_pantarget_11_2012IDs_8350.csv", index=False)
Kpan.head(3)

         pos_ID labelType      ID 11_2012_detectedID
0  A0AVT1_K1014     IodoL  A0AVT1               True
1   A0AVT1_K544     IodoL  A0AVT1               True
2    A0AVT1_K86     IodoL  A0AVT1               True

# [2] doing 11_2012 pos checking against original chemoproteomic position data

```bash
~/Desktop/Toolbox/key_id_maker.py sprot_11_2012_detectedIDs_4093.csv sprot_11_2012_all_Cpos.csv C
#Number of amino acids in inputfile:  (44302, 1)
~/Desktop/Toolbox/key_id_maker.py sprot_11_2012_detectedIDs_4093.csv sprot_11_2012_all_Kpos.csv K
#Number of amino acids in inputfile:  (165363, 1)
```

### total C in 11_2012 filtered for 4093 IDs = 44,302
### total K in 11_2012 filtered for 4093 IDs = 165,363

In [79]:
# Pmap_chemoproteomic_2012.py has all code below
def split_ID(df1, col):
    new1 = df1[col].str.split("_", n=1, expand = True)
    df1["ID"] = new1[0]
    return df1

def count_unique_IDs(df, col):
    idset = set(df[col])
    print("unique IDs in df: ", len(idset))
    return idset

# aalist is from fasta sequences, chemdf is chemoproteomic data subset
def position_overlap(aalist, chemdf, found_name, notfound_name):
    # create list of reactivity and pan target positions
    subsetls = list(chemdf.pos_ID)
    print("chemo pos_ID length: ", len(subsetls))
    # overlap with positions from fasta sequences
    overlapAA = set(aalist).intersection(subsetls)
    print("overlapping AA's in chemoproteomic data subset: ", len(overlapAA))
    # make dataframe with overlap results
    newls = list(overlapAA)
    newdf = pd.DataFrame(newls)
    newdf.columns = ['pos_ID']
    # count unique ID
    splitdf = split_ID(newdf, 'pos_ID')
    idset = count_unique_IDs(splitdf, 'ID')

    # label the subset data frame with new column whether its in fasta sequence or not
    done_overlapped = addcolumnconditional(overlapAA, chemdf, "pos_ID", "found_pos_ID")

    # seperating True and False then saving False
    TRUEonly = done_overlapped[done_overlapped["found_pos_ID"] == "True"]
    FALSEonly = done_overlapped[done_overlapped["found_pos_ID"] == "False"]
    print("Found posID TRUE df shape: ", TRUEonly.shape)
    print("Found posID FALSE df shape: ", FALSEonly.shape)

    # saving dfs
    FALSEonly.reset_index(drop=True,inplace=True)
    FALSEonly.to_csv(notfound_name,index=False)
    TRUEonly.reset_index(drop=True,inplace=True)
    TRUEonly.to_csv(found_name,index=False)

    return idset

In [84]:
# subsets filtered for 4093 detected IDs overlapping 11_2012 fasta
cpan = pd.read_csv("CYS_pantarget_11_2012IDs_6157.csv")
crea = pd.read_csv("CYS_reactivity_11_2012IDs_1483.csv")
kpan = pd.read_csv("LYS_pantarget_11_2012IDs_8350.csv")
krea = pd.read_csv("LYS_reactivity_11_2012IDs_4576.csv")

# 11_2012 release with 4093 detected IDs
#ukbfasta = pd.read_csv("sprot_11_2012_detectedIDs_4093.csv")
fastaC = pd.read_csv("sprot_11_2012_all_Cpos.csv")
fastaK = pd.read_csv("sprot_11_2012_all_Kpos.csv")
# make into list with only pos_ID
allC = list(fastaC.key_id)
allK = list(fastaK.key_id)
print()
CRidset = position_overlap(allC, crea, "pos_found_C_react.csv", "pos_not_found_C_react.csv")
print()
CPidset = position_overlap(allC, cpan, "pos_found_C_pan.csv", "pos_not_found_C_pan.csv")
print()
KRidset = position_overlap(allK, krea, "pos_found_K_react.csv", "pos_not_found_K_react.csv")
print()
KPidset = position_overlap(allK, kpan, "pos_found_K_pan.csv", "pos_not_found_K_pan.csv")
print()
totCid = set(list(CRidset) + list(CPidset))
print("total Cys group IDs: ", len(totCid))
totKid = set(list(KRidset) + list(KPidset))
print("total Lye group IDs: ", len(totKid))
allIDs = set(list(totCid) + list(totKid))
print("total IDs both C and K: ",len(allIDs))

chemo pos_ID length:  1483
overlapping AA's in chemoproteomic data subset:  1476
unique IDs in df:  1007
Found posID TRUE df shape:  (1476, 5)
Found posID FALSE df shape:  (7, 5)

chemo pos_ID length:  6157
overlapping AA's in chemoproteomic data subset:  6152
unique IDs in df:  2884
Found posID TRUE df shape:  (6152, 5)
Found posID FALSE df shape:  (5, 5)

chemo pos_ID length:  4576
overlapping AA's in chemoproteomic data subset:  4576
unique IDs in df:  1585
Found posID TRUE df shape:  (4576, 5)
Found posID FALSE df shape:  (0, 5)

chemo pos_ID length:  8350
overlapping AA's in chemoproteomic data subset:  8350
unique IDs in df:  2429
Found posID TRUE df shape:  (8350, 5)
Found posID FALSE df shape:  (0, 5)

total Cys group IDs:  3015
total Lye group IDs:  2691
total IDs both C and K:  4093

# Only the cys reactivity and pantarget subsets had NOT FOUND positions

from NOT_FOUND_DROP_THESE_IDS.csv
```
pos_ID	labelType	ID	11_2012_detectedID	found_pos_ID  comments	
P04406_C158	Iodoacetamide	P04406	TRUE	FALSE	* pos 152, 247 found
P08238_C592	Iodoacetamide	P08238	TRUE	FALSE	* pos 366,589,521,564,412 found
P54136_C36	Iodoacetamide	P54136	TRUE	FALSE	* pos 369,312,638,115,34 found
P60174_C127	4.13 8.56 ... 	P60174	TRUE	FALSE	* all reactive cys not found in this ID
P60174_C218	3.77 7.5 ...	P60174	TRUE	FALSE	* all reactive cys not found in this ID
P60174_C42	4.31 7.69 .. 	P60174	TRUE	FALSE	* all reactive cys not found in this ID
P60174_C67	4.69 4.53 . 	P60174	TRUE	FALSE	* all reactive cys not found in this ID
P62826_C122	Iodoacetamide	P62826	TRUE	FALSE	* pos 112, 120, 85 found
P68371_C213	Target	        P68371	TRUE	FALSE	* only pos for ID
Q4G0P3_C1852	2.41 1/2/6 	Q4G0P3	TRUE	FALSE	* only react C in ID
Q96TA1_C499	5.02 1/1/6 	    Q96TA1	TRUE	FALSE	* only react C in ID
Q9NXV6_C515	5.49 1/1/6 	    Q9NXV6	TRUE	FALSE	* only react C in ID
							
```

## strange that not all positions were found, and even stranger that some positions in these IDs were found and not others. 

# dropping all 9 unique IDs in this list..

In [5]:
# IDs to drop from position found files that were create above for each subset of CK files
dropID = ["P04406", "P08238", "P54136", "P60174", "P62826", "P68371", "Q4G0P3", "Q96TA1", "Q9NXV6"]

# drop IDs from these files
kpan_found = pd.read_csv("pos_found_K_pan.csv")
kreac_found = pd.read_csv("pos_found_K_react.csv")
cpan_found = pd.read_csv("pos_found_C_pan.csv")
creac_found = pd.read_csv("pos_found_C_react.csv")

In [6]:
# mapList, df, dfcol, newcol
cpan = addcolumnconditionalDropTrue(dropID, cpan_found, 'ID', 'allPOSITIONS_found')
kpan = addcolumnconditionalDropTrue(dropID, kpan_found, 'ID', 'allPOSITIONS_found')
crea = addcolumnconditionalDropTrue(dropID, creac_found, 'ID', 'allPOSITIONS_found')
krea = addcolumnconditionalDropTrue(dropID, kreac_found, 'ID', 'allPOSITIONS_found')

new shape post drop:  (6125, 6)
new shape post drop:  (8257, 6)
new shape post drop:  (1458, 6)
new shape post drop:  (4501, 6)

In [7]:
describeMe(cpan)
print()
describeMe(kpan)
print()
describeMe(crea)
print()
describeMe(krea)

(6125, 6)
Index(['pos_ID', 'labelType', 'ID', '11_2012_detectedID', 'found_pos_ID',
       'allPOSITIONS_found'],
      dtype='object')
pos_ID                0
labelType             0
ID                    0
11_2012_detectedID    0
found_pos_ID          0
allPOSITIONS_found    0
dtype: int64

(8257, 6)
Index(['pos_ID', 'labelType', 'ID', '11_2012_detectedID', 'found_pos_ID',
       'allPOSITIONS_found'],
      dtype='object')
pos_ID                0
labelType             0
ID                    0
11_2012_detectedID    0
found_pos_ID          0
allPOSITIONS_found    0
dtype: int64

(1458, 6)
Index(['pos_ID', 'reactivity', 'ID', '11_2012_detectedID', 'found_pos_ID',
       'allPOSITIONS_found'],
      dtype='object')
pos_ID                0
reactivity            0
ID                    0
11_2012_detectedID    0
found_pos_ID          0
allPOSITIONS_found    0
dtype: int64

(4501, 6)
Index(['pos_ID', 'reactivity', 'ID', '11_2012_detectedID', 'found_pos_ID',
       'allPOSITIONS_found'],
      dtype='object')
pos_ID                0
reactivity            0
ID                    0
11_2012_detectedID    0
found_pos_ID          0
allPOSITIONS_found    0
dtype: int64

**counting unique IDs in each set and total, creating ever labeled sets for cys and lysine positions**

In [8]:
def count_unique_IDs(df, col):
    idset = set(df[col])
    print("unique IDs in df: ", len(idset))
    return idset

In [9]:
# ID COUNTS IN SUBSETS
cp_idset = count_unique_IDs(cpan, 'ID')
kp_idset = count_unique_IDs(kpan, 'ID')
cr_idset = count_unique_IDs(crea, 'ID')
kr_idset = count_unique_IDs(krea, 'ID')

unique IDs in df:  2876
unique IDs in df:  2421
unique IDs in df:  1003
unique IDs in df:  1577

In [10]:
# TOTAL ID count
allIDs = set(list(cp_idset) + list(kp_idset) + list(cr_idset) + list(kr_idset))
print(len(allIDs))

4084

In [11]:
# CREATING ID EVER LABELED SETS
allc_id = set(list(cp_idset) + list(cr_idset))
allk_id = set(list(kp_idset) + list(kr_idset))
print("all C ids: ", len(allc_id))
print("all K ids: ", len(allk_id))

all C ids:  3006
all K ids:  2683

In [22]:
# UNIQUE IDS in C set 
uniqueC = allc_id - allk_id
print(len(uniqueC))
print(len(set(uniqueC)))

print()
# UNIQUE IDS IN K SET
uniqueK = allk_id - allc_id
print(len(uniqueK))
print(len(set(uniqueK)))

1401
1401

1078
1078

In [25]:
# ALL SHARED IDS in C and K
sharedck = allc_id & allk_id
print(len(sharedck))
print(sharedck)

1605
{'Q9UKK9', 'Q9NSE4', 'P18669', 'Q93052', 'Q00688', 'P52701', 'P13693', 'Q8WUM4', 'O00622', 'P62937', 'P35658', 'Q9GZZ9', 'Q9BTE6', 'O75828', 'Q9UDR5', 'O75521', 'O00487', 'Q9Y263', 'P30626', 'Q9Y678', 'Q9H3P2', 'P21980', 'Q9NQZ5', 'O95628', 'P28838', 'Q13526', 'Q15813', 'Q96C36', 'Q9UNW1', 'Q2TAA2', 'Q15067', 'Q9UBR2', 'P62917', 'P36578', 'P43155', 'P80297', 'Q9Y285', 'O60271', 'Q969T4', 'P04083', 'P23610', 'Q9H081', 'Q00535', 'Q8WWM7', 'P61081', 'Q6UB35', 'P62318', 'P49366', 'P06132', 'O15357', 'Q14789', 'Q9H5V9', 'Q5JVF3', 'Q15942', 'P07237', 'P68104', 'Q14697', 'Q9NYL9', 'O75122', 'O60232', 'P31937', 'Q10567', 'P51531', 'P23528', 'Q9NZN4', 'P33992', 'P34897', 'P30084', 'P00492', 'P54819', 'O15372', 'P36959', 'P49005', 'Q8NFX7', 'Q92841', 'Q7Z4G1', 'P04040', 'P51665', 'P30153', 'P45880', 'P11586', 'Q9BYX2', 'P52657', 'Q9UJF2', 'P78417', 'Q9Y5X2', 'O43172', 'P49720', 'P30520', 'P58546', 'Q9NUY8', 'Q9H0C8', 'Q9UBW8', 'P23368', 'Q9NQC3', 'Q96RL1', 'O43815', 'P32119', 'P07814', 'Q9NR46', 'Q9BYG5', 'P06737', 'Q15370', 'Q9Y265', 'P28074', 'P63244', 'P61758', 'Q92900', 'Q9NZZ3', 'Q15645', 'Q9Y3C6', 'P63146', 'P15104', 'P04049', 'Q00013', 'P22061', 'Q53GQ0', 'Q15417', 'P17812', 'Q7LG56', 'O00159', 'P35268', 'Q9Y5L0', 'Q04760', 'Q01658', 'P37837', 'P09936', 'Q53H82', 'Q5SW96', 'P46734', 'O43175', 'Q96PK6', 'P43686', 'Q15208', 'P00367', 'P34932', 'P27695', 'Q86VP6', 'O60763', 'Q13572', 'Q99627', 'Q9NVA2', 'Q02809', 'P06730', 'P20839', 'P32320', 'Q96BD8', 'P05388', 'Q9NR12', 'Q96I24', 'Q6QNY1', 'Q86XP3', 'P78406', 'P49588', 'Q9H2M9', 'O15260', 'Q14839', 'O75251', 'P05161', 'Q9NPD8', 'Q9Y4X0', 'Q14318', 'Q99757', 'Q99832', 'Q9HCC0', 'P56192', 'O95059', 'Q9Y315', 'Q9GZU8', 'Q8N9N8', 'Q9HB90', 'P20810', 'P50395', 'P12814', 'Q96QC0', 'Q9NSD9', 'P51946', 'O00232', 'P46776', 'Q9NRG0', 'Q8NFQ8', 'Q96HE7', 'Q6P1J9', 'O94979', 'P52630', 'Q15121', 'P52272', 'Q12931', 'P43034', 'P00813', 'Q15393', 'Q2NL82', 'O60942', 'P26440', 'Q16762', 'Q9NYF8', 'P13797', 'Q9BSD7', 'Q9Y5K6', 'P61088', 'Q9H3K6', 'Q96EV2', 'Q8IUI8', 'Q9BZZ5', 'Q5H9R7', 'Q92556', 'Q06323', 'Q96IY1', 'Q96T76', 'P48444', 'Q9ULC4', 'P08133', 'O14964', 'O75832', 'P09417', 'Q9NR31', 'Q15365', 'Q96ST2', 'Q9UHD1', 'Q9GZT9', 'Q9Y243', 'P50135', 'P46109', 'Q9H814', 'P09914', 'P08397', 'Q9UH65', 'Q16740', 'P36954', 'Q9NV56', 'P62280', 'O94851', 'P52306', 'Q9Y376', 'P04818', 'O43747', 'Q08378', 'Q96S55', 'Q9NPA8', 'Q15437', 'Q96D46', 'Q9NZT2', 'P12081', 'Q16718', 'Q14232', 'Q9Y5A7', 'P36542', 'P09543', 'P53004', 'P84085', 'Q6XZF7', 'P07954', 'P51003', 'Q5VYK3', 'P63000', 'Q96CV9', 'P52948', 'O75223', 'Q96AB3', 'Q5JRX3', 'Q6FI81', 'Q96QK1', 'P09960', 'Q13642', 'Q9HB40', 'Q9Y305', 'P53634', 'Q14152', 'Q96FW1', 'Q9UK41', 'Q96I99', 'Q92614', 'P30044', 'P31947', 'Q9P258', 'P38606', 'Q00765', 'Q15120', 'Q5TBB1', 'Q9BZG1', 'Q9P2X3', 'P27824', 'P63279', 'P63010', 'Q9BY42', 'O60671', 'Q5SRE5', 'P40306', 'P04179', 'P04632', 'Q08380', 'P51812', 'P12694', 'Q00796', 'P36551', 'Q9NQ88', 'Q13310', 'Q7L014', 'Q9Y5Y2', 'Q14738', 'Q13439', 'P38646', 'P49790', 'Q9UKI8', 'P35580', 'Q96SZ5', 'P01033', 'P62191', 'O00264', 'P61513', 'Q15398', 'P15927', 'Q16531', 'Q06481', 'Q99615', 'P42126', 'P46937', 'Q9UPY8', 'Q5VZF2', 'O60716', 'Q02878', 'P51970', 'Q15418', 'Q9BT09', 'Q13428', 'P78527', 'Q14696', 'Q99798', 'Q71U36', 'O60841', 'P50579', 'Q9Y224', 'O60610', 'Q99714', 'Q8N392', 'A0AVT1', 'P43243', 'P43246', 'P62753', 'P36776', 'Q02252', 'P15121', 'P45974', 'Q16527', 'Q7L576', 'P13798', 'P30837', 'P50914', 'O95456', 'Q03169', 'Q8TD16', 'Q15003', 'P62987', 'Q13620', 'P36969', 'Q5VIR6', 'Q8NC51', 'P82912', 'Q6YN16', 'P48556', 'Q7RTV0', 'P31146', 'O15371', 'Q13564', 'P31350', 'Q15286', 'Q53H96', 'Q9BVA1', 'Q8NFH8', 'Q9UL12', 'P09622', 'Q6NXT1', 'Q93008', 'P62829', 'Q5T4S7', 'P68366', 'O75934', 'O75348', 'Q99439', 'P14625', 'Q05639', 'P41250', 'Q9Y333', 'Q92747', 'Q9Y3D5', 'P00505', 'Q9NVS9', 'Q9Y223', 'Q96IZ6', 'Q8IXH7', 'P13489', 'P11216', 'O75616', 'P10620', 'Q9BSH5', 'P28482', 'P62266', 'P60953', 'P09211', 'Q9BWU0', 'Q13596', 'P53350', 'O43913', 'P53602', 'Q6L8Q7', 'O60488', 'Q9BW61', 'Q13200', 'Q8WWY3', 'Q9P1F3', 'P52907', 'P18858', 'P14324', 'Q99873', 'O75190', 'P23919', 'P50991', 'P62910', 'P06744', 'Q86TG7', 'Q99497', 'P62942', 'Q9NR45', 'Q9BV57', 'Q9UBE0', 'Q9BTE3', 'Q01433', 'P53597', 'Q15637', 'A6NDG6', 'Q14683', 'Q9Y3B2', 'P62837', 'P02545', 'P05067', 'P42224', 'P08758', 'Q9UHY7', 'Q9GZT3', 'O94760', 'Q9BT78', 'P42575', 'P34896', 'Q08257', 'P07339', 'Q5SW79', 'Q96MF7', 'P07900', 'P23396', 'Q7L5D6', 'Q71RC2', 'Q13451', 'Q14203', 'Q14192', 'P49207', 'Q9Y6G9', 'Q9UL45', 'P41236', 'P29401', 'Q9NRL3', 'Q9UBB4', 'Q9UHD8', 'Q15428', 'P07996', 'O14980', 'Q9Y3B4', 'P10599', 'Q9BY32', 'P40925', 'P51553', 'Q9BW85', 'P00338', 'P18124', 'O75947', 'O60504', 'Q9UQ13', 'P62136', 'P35579', 'Q9H3U1', 'P15153', 'Q14247', 'Q9BQS8', 'Q14847', 'O43447', 'P41252', 'P13984', 'Q9H9J2', 'Q14204', 'Q13509', 'Q9Y3Z3', 'O75400', 'O95994', 'P07858', 'Q9UJW0', 'P12277', 'P61313', 'Q13155', 'P25788', 'O00151', 'Q9NUG6', 'Q6JBY9', 'O75962', 'Q96KB5', 'P62879', 'O95757', 'P63104', 'Q13325', 'O14776', 'Q8TC07', 'P23434', 'Q9Y3C4', 'Q9Y2X7', 'O14733', 'Q9H2U2', 'P61011', 'O75874', 'Q7Z6Z7', 'P28340', 'Q9H4A4', 'O95359', 'P31323', 'Q9BZQ8', 'Q6UN15', 'P10644', 'Q9Y570', 'Q9Y617', 'Q9UKG1', 'Q9HD26', 'P13716', 'Q96A49', 'P05198', 'Q8N999', 'P37802', 'Q9NR56', 'Q15366', 'Q92499', 'P63208', 'P07437', 'Q9HC38', 'P51991', 'P63165', 'P25787', 'P51878', 'P32780', 'Q14966', 'O43592', 'P61106', 'Q9NVX0', 'Q00839', 'O14618', 'P48735', 'P78344', 'P08670', 'Q9BY77', 'Q9UJV9', 'Q16854', 'Q00534', 'P18621', 'Q9NZB2', 'Q96RP9', 'P60228', 'P39023', 'Q7KZF4', 'Q8N1G2', 'Q14141', 'P46782', 'O75822', 'Q9UHI6', 'P62263', 'Q9Y266', 'Q8IWS0', 'Q9NUU7', 'P60660', 'Q13838', 'P11177', 'O75390', 'Q9NVG8', 'P52565', 'Q8N556', 'Q03001', 'Q7L5Y9', 'O75717', 'Q9UKL0', 'P49773', 'Q9BQ61', 'Q68E01', 'P51610', 'Q6NYC8', 'P47755', 'Q9BX40', 'P60604', 'Q9NQR4', 'P60709', 'P52566', 'Q08J23', 'Q14019', 'Q9BXP5', 'P14678', 'O75175', 'Q8NCF5', 'P61289', 'Q16630', 'O75928', 'P31948', 'O00148', 'O95373', 'P21399', 'Q9Y3I0', 'P55957', 'Q9Y383', 'P13667', 'Q9NW64', 'P12004', 'P04062', 'Q15369', 'Q96EY4', 'P27694', 'O43707', 'P32322', 'Q15691', 'O43719', 'P13639', 'P35270', 'P41091', 'P06493', 'P50454', 'Q9NPA3', 'Q8IWX8', 'O14879', 'Q01082', 'P84243', 'P21266', 'Q12996', 'P06733', 'P62244', 'O43264', 'Q14240', 'Q9NZL4', 'O15446', 'Q9Y281', 'Q9H6T3', 'Q14166', 'P13929', 'Q9UL25', 'P21964', 'Q5VTR2', 'O14641', 'Q4G0N4', 'Q9BUF5', 'P07203', 'Q99961', 'Q9BUK6', 'P24928', 'Q9Y6C9', 'P55084', 'P53396', 'P19623', 'Q9BWD1', 'Q9UJX3', 'P46777', 'O00244', 'Q9GZV4', 'Q86U44', 'Q96MX6', 'Q9NQY0', 'Q13011', 'Q16851', 'Q9ULW3', 'P25786', 'P26641', 'Q86SX6', 'Q9H0W9', 'Q93009', 'P28065', 'P49748', 'P30086', 'Q16543', 'P18031', 'P36507', 'O75391', 'Q8WTW3', 'O95295', 'Q9Y6I3', 'P51858', 'Q00610', 'P47756', 'P42677', 'P04181', 'P24752', 'P49915', 'P16333', 'Q96JB2', 'Q9Y530', 'Q96HC4', 'P07741', 'O76003', 'Q7Z5L9', 'P62241', 'Q9Y2L1', 'Q96EY5', 'Q9Y6K9', 'P04637', 'P31689', 'P35244', 'Q9BXJ9', 'Q6P587', 'P42330', 'Q15056', 'P19338', 'P20248', 'Q9H6S3', 'P50502', 'P08134', 'O14950', 'O94925', 'Q9Y3D2', 'P61978', 'O43390', 'P04183', 'O75410', 'O43491', 'Q99536', 'Q9NR19', 'Q9NV35', 'O95817', 'P21912', 'Q01518', 'Q15021', 'Q15042', 'Q92621', 'O14773', 'Q14103', 'P26196', 'Q13418', 'P11142', 'P48507', 'Q9Y2X3', 'Q99638', 'O95232', 'O00267', 'O43488', 'Q96IJ6', 'Q9UI30', 'P12429', 'P49327', 'Q16576', 'P62258', 'O75351', 'Q5VWZ2', 'Q96KP4', 'P42765', 'Q8TD19', 'P11413', 'O95159', 'P24941', 'P09234', 'P10155', 'P00568', 'Q14566', 'Q8IUR0', 'P46379', 'Q15118', 'O95551', 'P33991', 'O60551', 'Q5VZ89', 'Q9BRA2', 'Q9UKX7', 'P53992', 'Q13185', 'Q9Y262', 'P25789', 'Q9H773', 'P15531', 'Q86YS7', 'P50990', 'Q16644', 'Q99471', 'Q6WCQ1', 'Q09028', 'O95336', 'Q8N1F7', 'O00469', 'P49770', 'P60842', 'O43237', 'P26447', 'Q9H3M7', 'O43143', 'Q9NRF9', 'O15144', 'P62913', 'Q9Y6X8', 'Q5R3I4', 'Q9BXS6', 'Q5TFE4', 'P01892', 'Q15785', 'Q8WX93', 'O14818', 'P49591', 'O60568', 'Q13283', 'P67775', 'Q9BWJ5', 'Q96C19', 'P20290', 'P63167', 'P55072', 'Q9H299', 'P62888', 'Q16666', 'Q06203', 'P33316', 'O75935', 'P33176', 'P46779', 'P55786', 'Q9UM22', 'Q01469', 'Q92665', 'O94903', 'Q13617', 'Q16836', 'O75815', 'P21333', 'P25205', 'Q9UL46', 'Q9UKN8', 'Q14149', 'P43403', 'Q9UEW8', 'P19367', 'Q9P0L0', 'Q9HBM1', 'P00491', 'Q15643', 'P30876', 'P17987', 'O95816', 'P42704', 'P27348', 'Q9P289', 'P02795', 'Q8TDX7', 'P28066', 'P30740', 'O94855', 'Q712K3', 'Q9NUQ8', 'P30048', 'P35998', 'Q9Y696', 'P56377', 'Q9NWV8', 'P55209', 'Q9H993', 'Q9Y4L1', 'Q9BWT6', 'Q86UY8', 'P45985', 'P26358', 'P49840', 'P26639', 'Q8IVM0', 'P42166', 'Q9ULV4', 'P61964', 'Q9ULP9', 'Q9UPQ0', 'O95163', 'P12270', 'O00764', 'Q9P0V9', 'P07195', 'Q13347', 'P11498', 'Q9BX68', 'Q9NPF4', 'P35250', 'P48059', 'Q07021', 'Q92945', 'Q9NZN5', 'P62487', 'O75643', 'P50995', 'P49959', 'Q6DCA0', 'P68036', 'P28702', 'Q9P2E9', 'O00299', 'O15355', 'O60832', 'Q7L2H7', 'Q13131', 'Q6P2Q9', 'O14561', 'P62195', 'P41743', 'P52788', 'Q6P2I3', 'P61086', 'P62249', 'O43813', 'O60701', 'P62140', 'Q9UJ70', 'P30405', 'P35611', 'P61158', 'P49903', 'Q86V21', 'P83916', 'Q92973', 'P15311', 'Q13501', 'Q14315', 'Q6PI48', 'Q92888', 'Q92616', 'Q96EP5', 'P61247', 'Q9UNM6', 'Q9P2R7', 'Q96AE4', 'Q9UGI8', 'P49902', 'P17844', 'P04075', 'P61927', 'Q13630', 'P52888', 'O15269', 'Q9NZL9', 'P53621', 'P07737', 'Q06546', 'P32969', 'Q9UQ80', 'P08237', 'Q14974', 'Q15181', 'Q8N0X7', 'Q13643', 'Q07020', 'Q9BWM7', 'Q9BVP2', 'O60884', 'O00541', 'Q01844', 'P26583', 'Q9NQG5', 'Q07666', 'P29034', 'O75821', 'Q9H4A6', 'P41567', 'P13010', 'Q08211', 'P23284', 'P62979', 'P46063', 'Q96N67', 'Q8NBF2', 'P17858', 'Q9H4M9', 'P49589', 'O95747', 'Q9UKV3', 'P25208', 'P30566', 'P51149', 'Q8IU81', 'Q92552', 'Q9BPX3', 'P36871', 'Q14653', 'O60664', 'P50479', 'Q15046', 'Q9HAV7', 'Q92878', 'P19784', 'Q9NT62', 'P04843', 'O94776', 'P61077', 'P49368', 'P16885', 'P52209', 'Q13148', 'P61970', 'O00231', 'Q96KQ7', 'P55036', 'P60891', 'O75083', 'Q15424', 'Q9H9A6', 'O95833', 'Q9BQ15', 'O95372', 'Q99829', 'Q5T440', 'P50552', 'P25705', 'Q29RF7', 'Q06587', 'O60784', 'P33240', 'Q12849', 'Q9UN37', 'Q13158', 'O43776', 'Q9BXW7', 'Q96I25', 'Q16875', 'Q96NY7', 'P23381', 'P60900', 'Q12974', 'Q6IBS0', 'P50213', 'O75150', 'P10515', 'O95571', 'P53384', 'Q9UDY2', 'Q92905', 'P09104', 'Q9BQ52', 'Q9HD42', 'P38117', 'Q8WV24', 'P50453', 'P49189', 'Q9BZX2', 'P05023', 'O95758', 'P51668', 'P06400', 'Q9Y277', 'Q9Y490', 'P00558', 'O14617', 'O15235', 'P61966', 'O75131', 'P30622', 'P40123', 'Q9Y4X5', 'Q13561', 'Q9NRV9', 'Q8WU90', 'P62851', 'Q8IY67', 'P12268', 'Q9Y3C8', 'Q96IZ0', 'P14174', 'Q96GG9', 'P35606', 'P12236', 'Q15020', 'Q8WXF1', 'Q01813', 'Q14005', 'Q12905', 'P61160', 'P55010', 'Q14376', 'Q16698', 'O43242', 'P08729', 'O60216', 'P49458', 'Q04917', 'Q6P996', 'Q8NCW5', 'O95881', 'Q9Y296', 'Q9NVC6', 'Q4V328', 'O95071', 'Q9Y618', 'O76094', 'Q13085', 'P48047', 'O43396', 'P14866', 'P13861', 'Q8TDP1', 'Q13619', 'P13804', 'Q13363', 'P26368', 'Q9Y3D0', 'P26038', 'P62906', 'O00170', 'P55265', 'Q9UMS4', 'P53041', 'Q9NTJ3', 'P41227', 'Q9NTK5', 'Q9Y3B7', 'P09661', 'Q8IY18', 'O95999', 'Q96JH7', 'P05455', 'Q7L8L6', 'Q99661', 'P10809', 'Q92990', 'Q15599', 'Q9NWU1', 'Q92922', 'P30050', 'Q9BR76', 'O14979', 'O43708', 'P20618', 'P27708', 'Q02790', 'Q9NPH0', 'P60981', 'Q96DE5', 'Q70E73', 'Q14061', 'O95639', 'P22087', 'P05386', 'Q9BZQ6', 'P52564', 'Q15819', 'P27816', 'P31040', 'P48739', 'Q7L0Y3', 'P55039', 'Q9P287', 'Q06330', 'Q96KG9', 'Q8N4X5', 'Q06830', 'Q15008', 'Q96RU2', 'P67936', 'P62633', 'Q9H0D6', 'P60903', 'P62333', 'Q96G03', 'Q9UKF6', 'Q8IVH4', 'P22102', 'Q07960', 'P36873', 'P13674', 'P47897', 'O43684', 'Q9HB71', 'Q86UP2', 'P54578', 'Q96CM8', 'P62304', 'P62993', 'P42167', 'P35568', 'Q9Y6A5', 'P48643', 'P55263', 'Q9NTX5', 'P24844', 'Q9NVE7', 'Q15149', 'O43765', 'P23193', 'Q8WYJ6', 'Q9HA64', 'Q7L1Q6', 'P31949', 'Q02543', 'P52789', 'P46736', 'Q14008', 'P11021', 'Q9UNF1', 'Q12906', 'P84077', 'O75663', 'O14777', 'Q9NY27', 'Q15306', 'P10398', 'Q9UM54', 'Q8WVJ2', 'P49023', 'Q14C86', 'Q86U42', 'Q9H845', 'Q86V48', 'Q8NFH5', 'P11310', 'O96019', 'P40937', 'Q15080', 'Q70J99', 'Q9UG63', 'P52292', 'Q13045', 'Q6NVY1', 'Q16763', 'Q9BTZ2', 'Q86TI2', 'Q12904', 'Q16555', 'Q9UJU6', 'P43490', 'O75909', 'P55060', 'Q99538', 'Q9Y5R8', 'Q05519', 'Q9C0B1', 'O00303', 'P61586', 'P35659', 'P23246', 'Q9H3P7', 'Q9UMS0', 'Q13057', 'P60983', 'Q5U5X0', 'Q9GZS1', 'P14618', 'Q9Y230', 'Q9Y2S7', 'Q9Y2Z0', 'O14933', 'Q9BVL2', 'Q96F86', 'Q9Y4E8', 'Q9UHX1', 'Q13573', 'P55769', 'Q9BTE1', 'Q9NP61', 'P14735', 'Q12933', 'O75369', 'P40926', 'Q8NDI1', 'Q92947', 'Q13126', 'P10619', 'P22059', 'Q04724', 'Q99426', 'Q9H2G2', 'P55795', 'Q07866', 'P11766', 'O94906', 'Q9UHB9', 'P63151', 'Q969Z0', 'Q12874', 'Q9UHB6', 'P49721', 'P61221', 'Q9NYV4', 'Q9UGP4', 'Q9NP81', 'P51148', 'P40222', 'P22033', 'Q7Z4W1', 'Q9UBQ0', 'Q05932', 'Q8TBC4', 'Q15061', 'Q16222', 'Q09666', 'O15382', 'Q9ULZ3', 'P09382', 'P55884', 'O75534', 'Q2VPK5', 'O95340', 'P43487', 'Q13523', 'Q13435', 'P29692', 'P55735', 'P40227', 'Q9BV79', 'Q9NRZ9', 'P35754', 'Q00653', 'Q14914', 'P18754', 'Q9BS26', 'O76031', 'P40121', 'P14868', 'Q00325', 'Q13162', 'P31939', 'P48147', 'Q9UPN9', 'P22234', 'P55212', 'P11172', 'Q96RU3', 'P27797', 'P07602', 'Q04637', 'Q9NVX2', 'Q15631', 'Q5VUJ6', 'Q9BRF8', 'Q13425', 'P30101', 'Q9H3H3', 'Q13547', 'Q15185', 'Q99567', 'P08621', 'Q92598', 'Q9NRH3', 'Q86X76', 'P17655', 'Q9NTZ6', 'P84090', 'Q86WR0', 'Q9NZ08', 'P62312', 'Q969T9', 'P31153', 'Q9GZP4', 'Q9Y312', 'P49411', 'O60493', 'P40261', 'P60866', 'Q969U7', 'Q969E4', 'P16152', 'Q96C86', 'P54886', 'O14744', 'O60828', 'P22307', 'P30519', 'Q9P2J5', 'P01871', 'O14936', 'Q9NZ09', 'Q99598', 'Q96FJ2', 'Q53EZ4', 'P61163', 'P53618', 'P49792', 'P51617', 'P62701', 'P54577', 'Q04446', 'Q9UNI6', 'Q14151', 'P55809', 'O75531', 'P31751', 'O43324', 'A9UHW6', 'Q13557', 'P09651', 'P40939', 'O95347', 'Q92538', 'P39748', 'Q15084', 'A5YKK6', 'Q96KP1', 'O95067', 'P08240', 'Q9Y3A3', 'P22830', 'Q13263', 'Q9Y2T2', 'O60234', 'P62857', 'Q16270', 'Q9Y3F4', 'P0CW22', 'Q99460', 'P49753', 'Q8NBS9', 'Q9UNH7', 'Q9Y2R9', 'P31749', 'Q09161', 'Q93034', 'P11940', 'O43294', 'Q5T1V6', 'P31150', 'P30040', 'Q8WXI9', 'Q9P2D3', 'O00442', 'O00571', 'Q8TCG1', 'Q9P0J1', 'Q02750', 'Q9UKU7', 'Q9H1K1', 'P15880', 'P52597', 'Q9NUP9', 'P62273', 'Q16186', 'O75347', 'Q06210', 'Q16181', 'P50570', 'Q13618', 'Q92769', 'Q8IXK0', 'Q2M389', 'O95486', 'P84103', 'Q09472', 'O95433', 'Q9H832', 'P07384', 'Q13813', 'P35241', 'O94915', 'P68431', 'P39687', 'Q15233', 'P21291', 'O00762', 'O15145', 'P78346', 'P33993', 'P32321', 'Q13404', 'Q96C01', 'Q9UPN3', 'P63220', 'P25398', 'Q9UBQ7', 'P11387', 'P31943', 'Q14980', 'O43929', 'Q9Y2Q3', 'P49736', 'P49756', 'P62873', 'P46940', 'Q8TAF3', 'Q8WXH0', 'P31946', 'Q9UHQ1', 'P11182', 'O00743', 'P35237', 'O95229', 'P10768', 'P11908', 'P46060', 'O95573', 'Q99447', 'P27144', 'P49321', 'P22626', 'Q9HAV4', 'P24534', 'P54687', 'Q16881', 'Q15459', 'P83731', 'Q9NYK5', 'Q92597', 'O15143', 'P62316', 'Q9UBQ5', 'Q9Y3B8', 'P27635', 'Q6PJT7', 'P08559', 'P21281', 'Q9Y6E0', 'Q15654', 'Q9H4B0', 'Q9Y676', 'O75533', 'P78371', 'Q9UPR0', 'Q6NUK1', 'Q8NBJ5', 'O60921', 'P78347', 'P23921', 'Q00341', 'P15170', 'P23588', 'Q96E11', 'Q8TF05', 'Q92576', 'P07355', 'Q9BSH4', 'O00410', 'Q56VL3', 'Q86U90', 'Q9UBT2', 'P68402', 'P22314', 'Q7L5N1', 'Q9UK45', 'P09497', 'Q9BPW8', 'Q13303', 'P30042', 'Q92575', 'P30041', 'Q06124', 'O00233', 'P37235', 'O43865', 'P37198', 'O95394', 'O00154', 'P25325', 'O60506', 'P13796', 'Q8NHV4', 'Q14258', 'Q969Y2', 'Q6P9B6', 'Q96PU8', 'Q8NE71', 'P18085', 'Q9H223', 'Q9BZD4', 'P16035', 'P35914', 'P35637', 'Q86WA6', 'Q8N163', 'Q86UX7', 'O75439', 'P45954', 'O75718', 'Q8ND24', 'P13995', 'P28799', 'Q92797', 'O96013', 'Q16877', 'P23526', 'Q96RS6', 'Q9BZK7', 'Q9Y314', 'Q9NUQ9', 'Q6DKI1', 'P09429', 'P09110', 'Q15019', 'P18615', 'Q6IS14', 'Q9BSJ8', 'P62330', 'Q99436', 'O43414', 'O43837', 'Q92688', 'Q96RN5', 'P26599', 'P59998', 'Q9H910', 'Q92879', 'Q99496', 'Q15102', 'P36405', 'Q5VT52', 'P08243', 'P17980', 'P42574', 'O14579', 'Q9UBV8', 'A6NDU8', 'O95376', 'O15460', 'Q8WYP5', 'P61981'}

In [13]:
kpan.head(1)

,pos_ID,labelType,ID,11_2012_detectedID,found_pos_ID,allPOSITIONS_found
0,A0AVT1_K1014,IodoL,A0AVT1,True,True,False

In [14]:
krea.head(1)

,pos_ID,reactivity,ID,11_2012_detectedID,found_pos_ID,allPOSITIONS_found
0,P52758_K117,0.1,P52758,True,True,False

In [15]:
cpan.head(1)

,pos_ID,labelType,ID,11_2012_detectedID,found_pos_ID,allPOSITIONS_found
0,P26641_C266,Iodoacetamide,P26641,True,True,False

In [16]:
crea.head(1)
# BACK TO RESIDUE LEVEL COUNTING...

,pos_ID,reactivity,ID,11_2012_detectedID,found_pos_ID,allPOSITIONS_found
0,Q9Y6W6_C177,20.00 1/2/6,Q9Y6W6,True,True,False

In [26]:
# creating ever labeled Cys/lys set for final 2012 data
cpan_ever = cpan[['pos_ID', 'ID']]
crea_ever = crea[['pos_ID', 'ID']]

kpan_ever = kpan[['pos_ID', 'ID']]
krea_ever = krea[['pos_ID', 'ID']]

# concat df 
cever = pd.concat([cpan_ever, crea_ever])
kever = pd.concat([kpan_ever, krea_ever])

print("shape of cever with duplicates: ", cever.shape)
print("shape of kever with duplicates: ", kever.shape)

shape of cever with duplicates:  (7583, 2)
shape of kever with duplicates:  (12758, 2)

In [27]:
kever.reset_index(drop=True, inplace=True)
cever.reset_index(drop=True, inplace=True)
kever.head(3)

         pos_ID      ID
0  A0AVT1_K1014  A0AVT1
1   A0AVT1_K544  A0AVT1
2    A0AVT1_K86  A0AVT1

In [28]:
# dropping duplicate positions in file for final ever labeled positions
# sorting by pos_ID
kever.sort_values("pos_ID", inplace = True) 
cever.sort_values("pos_ID", inplace = True)
  
# dropping ALL duplicte values 
kever.drop_duplicates(subset = "pos_ID", keep = 'first', inplace = True) 
cever.drop_duplicates(subset = "pos_ID", keep = 'first', inplace = True)

In [29]:
print(kever.shape)
print(cever.shape)

(9213, 2)
(6404, 2)

# [3] format reactivity data - take AVG from list of values - bin LOW-MEDIUM-HIGH

describeMe(cpan)
print()
describeMe(kpan)
print()
describeMe(crea)
print()
describeMe(krea)

print(kever.shape)
print(cever.shape)

In [37]:
crea.dtypes

pos_ID                object
reactivity            object
ID                    object
11_2012_detectedID      bool
found_pos_ID            bool
allPOSITIONS_found    object
dtype: object

In [41]:
def avg_reactivity(df):
    # turning series into list
    listCreact = list(df.reactivity)
    # turning list into list of lists
    llcreact = [x.split() for x in listCreact]
    # removed last index of sublist which contained the / value
    for sublist in llcreact:
        del sublist[-1]
    # getting average of lists in list
    avgg = []
    for sublist in llcreact:
        test_list = [float(i) for i in sublist]
        s = sum(test_list)
        l = len(sublist)
        a = s/l
        avgg.append(a)
    # formating decimal place
    avgf = ["{0:.2f}".format(x) for x in avgg]
    print("shape of df: ", df.shape)
    print("shape of averaged column: ", len(avgf))
    # convert this into a column for CreactTRUE df
    avgR = pd.DataFrame(np.array(avgf).reshape(-1, 1))
    avgR.columns = ['avgReactivity']
    df2 = pd.concat([df, avgR], axis=1)
    df3 = df2[['pos_ID', 'avgReactivity']].copy()
    return df3

In [43]:
creafinal = avg_reactivity(crea)
# K does not need to be averaged
kreafinal = krea[['pos_ID','reactivity']].copy()
kreafinal.head(3)

shape of df:  (1458, 6)
shape of averaged column:  1458

        pos_ID  reactivity
0  P52758_K117         0.1
1   P02766_K35         0.1
2   P51572_K79         0.2

In [47]:
creafinal.columns = ['pos_ID','reactivity']
creafinal.head(3)

         pos_ID reactivity
0   Q9Y6W6_C177      20.00
1    Q9Y6M9_C42       5.74
2  Q9Y6J0_C1197      20.00

In [48]:
# changing column types in pandas
kreafinal.reactivity = pd.to_numeric(kreafinal.reactivity)
creafinal.reactivity = pd.to_numeric(creafinal.reactivity)

In [49]:
Cfinalreact = creafinal.sort_values(by=['reactivity'])
Kfinalreact = kreafinal.sort_values(by=['reactivity'])

In [50]:
allreact = Kfinalreact.append(Cfinalreact,ignore_index=True)

In [51]:
allreact.reactivity = pd.to_numeric(allreact.reactivity)
allreact.dtypes

pos_ID         object
reactivity    float64
dtype: object

In [52]:
allreact = allreact.sort_values(by=['reactivity'])
allreact.reset_index(drop=True,inplace=True)

In [53]:
allreact.head(4)

        pos_ID  reactivity
0  P52758_K117         0.1
1   P02766_K35         0.1
2   P51572_K79         0.2
3  P60900_K116         0.2

# [TODO 3] distribution of reactivity in LYS and CYS datasets

In [54]:
print(allreact.describe())

        reactivity
count  5959.000000
mean      7.423348
std       3.173119
min       0.100000
25%       4.980000
50%       8.700000
75%      10.000000
max      20.000000

In [56]:
# adding new threshold by old numbers from nature paper      
allreact.loc[allreact.reactivity <= 2, 'Threshold'] = 'High' 
allreact.loc[(allreact.reactivity > 2) & (allreact.reactivity <= 5), 'Threshold'] = 'Medium' 
allreact.loc[allreact.reactivity > 5, 'Threshold'] = 'Low'

# adding new threshold by old numbers from nature paper      
Cfinalreact.loc[Cfinalreact.reactivity <= 2, 'Threshold'] = 'High' 
Cfinalreact.loc[(Cfinalreact.reactivity > 2) & (Cfinalreact.reactivity <= 5), 'Threshold'] = 'Medium' 
Cfinalreact.loc[Cfinalreact.reactivity > 5, 'Threshold'] = 'Low'

# adding new threshold by old numbers from nature paper      
Kfinalreact.loc[Kfinalreact.reactivity <= 2, 'Threshold'] = 'High' 
Kfinalreact.loc[(Kfinalreact.reactivity > 2) & (Kfinalreact.reactivity <= 5), 'Threshold'] = 'Medium' 
Kfinalreact.loc[Kfinalreact.reactivity > 5, 'Threshold'] = 'Low'

In [57]:
from collections import Counter
def colvalues(df, col):
    countdf = Counter(list(df[col]))
    countdic = dict(countdf)
    print(countdic)

In [58]:
colvalues(allreact, 'Threshold')
print()
colvalues(Cfinalreact, 'Threshold')
print()
colvalues(Kfinalreact, 'Threshold')
print()

{'High': 409, 'Medium': 1108, 'Low': 4442}

{'High': 101, 'Medium': 434, 'Low': 923}

{'High': 308, 'Medium': 674, 'Low': 3519}

# HIGH MED LOW COUNTS of all reactivity data

## {'High': 402, 'Medium': 1118, 'Low': 4476}

### HIGH : <= 2
### MEDIUM : 2+ & <= 5
### LOW : 5+

In [60]:
allreact.describe()

        reactivity
count  5959.000000
mean      7.423348
std       3.173119
min       0.100000
25%       4.980000
50%       8.700000
75%      10.000000
max      20.000000

In [61]:
Kfinalreact.describe()

        reactivity
count  4501.000000
mean      7.908731
std       3.011084
min       0.100000
25%       5.800000
50%      10.000000
75%      10.000000
max      10.000000

In [62]:
Cfinalreact.describe()

        reactivity
count  1458.000000
mean      5.924918
std       3.193092
min       0.740000
25%       4.305000
50%       5.595000
75%       6.830000
max      20.000000

# THRESHOLDs for CYS and LYS data seperately

In [63]:
Cfinalreact.reset_index(drop=True,inplace=True)
Kfinalreact.reset_index(drop=True,inplace=True)

In [64]:
Kfinalreact.head(10)

         pos_ID  reactivity Threshold
0   P52758_K117         0.1      High
1    P02766_K35         0.1      High
2    P51572_K79         0.2      High
3   P60900_K116         0.2      High
4    Q86WQ0_K28         0.2      High
5    Q9NZ45_K68         0.2      High
6   P08237_K678         0.3      High
7    O14737_K66         0.3      High
8    P23284_K41         0.3      High
9  P53396_K1018         0.3      High

In [65]:
Cfinalreact.head(10)

        pos_ID  reactivity Threshold
0  O14733_C202        0.74      High
1   P07237_C56        0.80      High
2   P78417_C32        0.84      High
3  Q6DCA0_C153        0.88      High
4  Q9Y4X0_C175        0.88      High
5  P16455_C145        0.88      High
6   Q00796_C45        0.89      High
7   Q9UHQ1_C99        0.89      High
8  Q9Y6I4_C302        0.90      High
9  P38606_C138        0.90      High

In [74]:
clow=Cfinalreact[Cfinalreact["Threshold"] == "Low"].describe()
clow.columns=['C_LOW']
cmed = Cfinalreact[Cfinalreact["Threshold"] == "Medium"].describe()
cmed.columns=['C_MED']
chigh=Cfinalreact[Cfinalreact["Threshold"] == "High"].describe()
chigh.columns=['C_HIGH']
CLM = clow.join(cmed)
CLMH = CLM.join(chigh)
print(CLMH)
CLMH.to_csv("CLMH_description_table_2012.csv")

            C_LOW       C_MED      C_HIGH
count  923.000000  434.000000  101.000000
mean     7.401679    3.854908    1.324257
std      3.042892    0.827357    0.340947
min      5.010000    2.010000    0.740000
25%      5.730000    3.202500    1.010000
50%      6.460000    4.015000    1.310000
75%      7.840000    4.550000    1.610000
max     20.000000    5.000000    1.960000

In [75]:
klow = Kfinalreact[Kfinalreact["Threshold"] == "Low"].describe()
klow.columns = ['K_LOW']
kmed = Kfinalreact[Kfinalreact["Threshold"] == "Medium"].describe()
kmed.columns = ['K_MED']
khigh=Kfinalreact[Kfinalreact["Threshold"] == "High"].describe()
khigh.columns=['K_HIGH']
klm = klow.join(kmed)
klmh = klm.join(khigh)
print(klmh)
klmh.to_csv("KLMH_description_table_2012.csv")

             K_LOW       K_MED      K_HIGH
count  3519.000000  674.000000  308.000000
mean      9.334356    3.513501    1.238636
std       1.341019    0.881700    0.493377
min       5.100000    2.100000    0.100000
25%       9.900000    2.700000    0.900000
50%      10.000000    3.500000    1.300000
75%      10.000000    4.300000    1.700000
max      10.000000    5.000000    2.000000

## formating panreactive files

In [85]:
def checkColumnValues(df, col):
    print(df[col].value_counts().reset_index().rename(columns={'index':col, col:'Count'}))

In [86]:
cpan.labelType.replace("Iodoacetamide","panReactive",inplace=True)
kpan.labelType.replace("IodoL","panReactive",inplace=True)
kpan.labelType.replace("TargetL","Target",inplace=True)

In [87]:
checkColumnValues(cpan, "labelType")

     labelType  Count
0  panReactive   5371
1       Target    754

In [88]:
checkColumnValues(kpan,"labelType")

     labelType  Count
0  panReactive   8136
1       Target    121

In [92]:
# EVER LABELED
kever.reset_index(inplace=True, drop=True)
cever.reset_index(inplace=True, drop=True)

         pos_ID      ID
0  A0AVT1_K1014  A0AVT1
1   A0AVT1_K409  A0AVT1
2   A0AVT1_K544  A0AVT1

In [97]:
# adding subset labels
Cfinalreact= Cfinalreact.assign(subset="Cysteine")
cever = cever.assign(subset="Cysteine")
cpan = cpan.assign(subset="Cysteine")

Kfinalreact = Kfinalreact.assign(subset="Lysine")
kever = kever.assign(subset="Lysine")
kpan = kpan.assign(subset="Lysine")

In [102]:
kpan = kpan[['pos_ID', 'labelType', 'ID','subset']].copy()
kpan.head(3)

         pos_ID    labelType      ID  subset
0  A0AVT1_K1014  panReactive  A0AVT1  Lysine
1   A0AVT1_K544  panReactive  A0AVT1  Lysine
2    A0AVT1_K86  panReactive  A0AVT1  Lysine

In [103]:
cpan = cpan[['pos_ID', 'labelType', 'ID','subset']].copy()
cpan.head(3)

        pos_ID    labelType      ID    subset
0  P26641_C266  panReactive  P26641  Cysteine
1  P07900_C374  panReactive  P07900  Cysteine
2  P23528_C139  panReactive  P23528  Cysteine

In [100]:
Kfinalreact.head(2)

        pos_ID  reactivity Threshold  subset
0  P52758_K117         0.1      High  Lysine
1   P02766_K35         0.1      High  Lysine

In [101]:
Cfinalreact.head(2)

        pos_ID  reactivity Threshold    subset
0  O14733_C202        0.74      High  Cysteine
1   P07237_C56        0.80      High  Cysteine

In [104]:
kever.head(3)

         pos_ID      ID  subset
0  A0AVT1_K1014  A0AVT1  Lysine
1   A0AVT1_K409  A0AVT1  Lysine
2   A0AVT1_K544  A0AVT1  Lysine

In [105]:
cever.head(3)

        pos_ID      ID    subset
0  A0AVT1_C347  A0AVT1  Cysteine
1  A0AVT1_C433  A0AVT1  Cysteine
2  A0AVT1_C546  A0AVT1  Cysteine

In [106]:
def splitUKBentry(df, dfcol):
    split = df[dfcol].str.split("_", n=1, expand=True)
    split.columns= ["entry","pos"]
    split2 = pd.concat([df, split], axis =1)
    return split2

In [107]:
Cever2 = splitUKBentry(cever, "pos_ID")
Kever2 = splitUKBentry(kever, "pos_ID")

Cfinalreact2 = splitUKBentry(Cfinalreact,"pos_ID")
Kfinalreact2 = splitUKBentry(Kfinalreact,"pos_ID")

cpan2 = splitUKBentry(cpan,"pos_ID")
kpan2 = splitUKBentry(kpan,"pos_ID")

In [109]:
Cever2.head(5)

        pos_ID      ID    subset   entry   pos
0  A0AVT1_C347  A0AVT1  Cysteine  A0AVT1  C347
1  A0AVT1_C433  A0AVT1  Cysteine  A0AVT1  C433
2  A0AVT1_C546  A0AVT1  Cysteine  A0AVT1  C546
3  A0AVT1_C625  A0AVT1  Cysteine  A0AVT1  C625
4  A0AVT1_C721  A0AVT1  Cysteine  A0AVT1  C721

In [110]:
Kever2.head(5)

         pos_ID      ID  subset   entry    pos
0  A0AVT1_K1014  A0AVT1  Lysine  A0AVT1  K1014
1   A0AVT1_K409  A0AVT1  Lysine  A0AVT1   K409
2   A0AVT1_K544  A0AVT1  Lysine  A0AVT1   K544
3    A0AVT1_K86  A0AVT1  Lysine  A0AVT1    K86
4   A0AVT1_K963  A0AVT1  Lysine  A0AVT1   K963

In [111]:
Cfinalreact2.head(5)

        pos_ID  reactivity Threshold    subset   entry   pos
0  O14733_C202        0.74      High  Cysteine  O14733  C202
1   P07237_C56        0.80      High  Cysteine  P07237   C56
2   P78417_C32        0.84      High  Cysteine  P78417   C32
3  Q6DCA0_C153        0.88      High  Cysteine  Q6DCA0  C153
4  Q9Y4X0_C175        0.88      High  Cysteine  Q9Y4X0  C175

In [112]:
Kfinalreact2.head(5)

        pos_ID  reactivity Threshold  subset   entry   pos
0  P52758_K117         0.1      High  Lysine  P52758  K117
1   P02766_K35         0.1      High  Lysine  P02766   K35
2   P51572_K79         0.2      High  Lysine  P51572   K79
3  P60900_K116         0.2      High  Lysine  P60900  K116
4   Q86WQ0_K28         0.2      High  Lysine  Q86WQ0   K28

In [114]:
cpan2.head(5)

        pos_ID    labelType      ID    subset   entry   pos
0  P26641_C266  panReactive  P26641  Cysteine  P26641  C266
1  P07900_C374  panReactive  P07900  Cysteine  P07900  C374
2  P23528_C139  panReactive  P23528  Cysteine  P23528  C139
3  P68104_C411  panReactive  P68104  Cysteine  P68104  C411
4  P60981_C163  panReactive  P60981  Cysteine  P60981  C163

In [115]:
kpan2.head(5)

         pos_ID    labelType      ID  subset   entry    pos
0  A0AVT1_K1014  panReactive  A0AVT1  Lysine  A0AVT1  K1014
1   A0AVT1_K544  panReactive  A0AVT1  Lysine  A0AVT1   K544
2    A0AVT1_K86  panReactive  A0AVT1  Lysine  A0AVT1    K86
3   A0AVT1_K963  panReactive  A0AVT1  Lysine  A0AVT1   K963
4   A0JNW5_K645  panReactive  A0JNW5  Lysine  A0JNW5   K645

In [116]:
print(Cever2.shape)
print(Kever2.shape)

print()
print(Cfinalreact2.shape)
print(Kfinalreact2.shape)
print()
print(cpan2.shape)
print(kpan2.shape)

(6404, 5)
(9213, 5)

(1458, 6)
(4501, 6)

(6125, 6)
(8257, 6)

# SAVING ALL FILES!

In [117]:
Cever2.to_csv("Cys2012_ever_labeled_6404.csv",index=False)
Kever2.to_csv("Lys2012_ever_labeled_9213.csv",index=False)

Cfinalreact2.to_csv("Cys2012_reactive_1458.csv",index=False)
Kfinalreact2.to_csv("Lys2012_reactive_4501.csv",index=False)

cpan2.to_csv("Cys2012_pantarget_6125.csv",index=False)
kpan2.to_csv("Lys2012_pantarget_8257.csv",index=False)

In [120]:
allreact2 = splitUKBentry(allreact,"pos_ID")
allreact2.head(3)

        pos_ID  reactivity Threshold   entry   pos
0  P52758_K117         0.1      High  P52758  K117
1   P02766_K35         0.1      High  P02766   K35
2   P51572_K79         0.2      High  P51572   K79

In [121]:
allreact2.to_csv("AllReact2012_5959.csv", index=False)

---
---
---
---

# looking at nonRedundant ever labeled set, which genes have been labeled the most:

In [124]:
Cever2.head(3)

        pos_ID      ID    subset   entry   pos
0  A0AVT1_C347  A0AVT1  Cysteine  A0AVT1  C347
1  A0AVT1_C433  A0AVT1  Cysteine  A0AVT1  C433
2  A0AVT1_C546  A0AVT1  Cysteine  A0AVT1  C546

In [125]:
cever_counts = Cever2.loc[:,'entry'].value_counts()
cever_counts

P49327    25
P21333    25
Q15149    22
Q7Z6Z7    20
P78527    20
Q14204    18
O75369    18
Q9Y490    17
O00410    15
P13639    15
Q92616    14
P46013    14
P35579    14
Q9NQW6    13
Q12888    12
Q00610    12
P51610    12
P49792    12
P21980    11
P42704    11
P07814    11
P22314    11
Q14315    11
P13489    11
P27708    11
P22102    10
Q01813    10
P11586    10
P52789    10
O95071    10
          ..
Q16630     1
P61289     1
P59998     1
P11912     1
Q15477     1
O60888     1
P17516     1
O43324     1
Q6P1K8     1
P50336     1
Q02878     1
P51970     1
Q9BT09     1
O95999     1
O00139     1
Q8N5L8     1
Q14145     1
P55957     1
Q8NI27     1
H0YGG7     1
Q53HL2     1
Q06136     1
Q9Y2Z2     1
Q15814     1
Q9BYW2     1
Q2TAZ0     1
Q9UK59     1
Q9Y3I0     1
Q9NZA1     1
Q9Y224     1
Name: entry, Length: 3006, dtype: int64

In [126]:
cever_counts.to_csv("CYS2012_everlabeled_gene_valueCounts_3006.csv")

In [127]:
Kever2.head(3)

         pos_ID      ID  subset   entry    pos
0  A0AVT1_K1014  A0AVT1  Lysine  A0AVT1  K1014
1   A0AVT1_K409  A0AVT1  Lysine  A0AVT1   K409
2   A0AVT1_K544  A0AVT1  Lysine  A0AVT1   K544

In [128]:
kever_counts = Kever2.loc[:,'entry'].value_counts()
kever_counts

Q09666    105
P21333     50
O75369     47
P35579     42
Q15149     36
P00558     30
P07900     29
P10809     28
P13639     28
P31948     27
P07237     26
P02545     26
Q9Y490     25
P68104     25
O43707     24
P06733     24
P14618     24
P11142     23
Q14247     22
P50990     20
Q01813     19
P53396     19
Q01518     19
P11586     19
Q92945     19
P14625     19
P43490     18
Q9H4M9     18
P50454     18
O75083     18
         ...
P07996      1
Q99259      1
Q9Y5R8      1
O75367      1
O94973      1
Q9BZJ0      1
Q92930      1
Q9ULZ3      1
Q9HC07      1
Q9H930      1
Q7Z392      1
Q9NVX0      1
Q86V48      1
Q5T5P2      1
P69905      1
Q01433      1
Q9BQ13      1
Q15041      1
Q9UHD9      1
Q06945      1
Q15080      1
P42575      1
Q9H2J4      1
Q8NCW5      1
Q08257      1
P06280      1
Q5SW79      1
O14735      1
Q96MF7      1
Q8NBJ7      1
Name: entry, Length: 2683, dtype: int64

In [129]:
kever_counts.to_csv("LYS2012_everlabeled_gene_valueCounts_2683.csv")

In [133]:
alleverlabeled = Cever2.append(Kever2, ignore_index = True)

In [131]:
# count how many times each gene has EVER been labeled by C or K (all C and K positions are unique!)
togethergenecount = alleverlabeled.loc[:,'entry'].value_counts()
togethergenecount

Q09666    112
P21333     75
O75369     65
Q15149     58
P35579     56
P13639     43
Q9Y490     42
P49327     36
P07900     36
P00558     35
P31948     32
P14618     32
P07237     32
P10809     31
P02545     30
O43707     30
Q14204     29
Q01813     29
P68104     29
P11586     29
P11142     27
P06733     27
O75083     26
Q00610     25
Q99832     25
O00410     25
P30101     25
P22234     24
Q7Z6Z7     24
P13796     24
         ...
O15304      1
Q6SJ93      1
Q15738      1
Q15013      1
Q12830      1
Q8NFD5      1
Q14197      1
Q9UEU0      1
P02749      1
P82932      1
O15533      1
O75884      1
Q96GX2      1
Q96PQ7      1
Q96CN7      1
Q15723      1
Q92609      1
Q7L099      1
Q8TDN6      1
O60313      1
Q9UJZ1      1
P09086      1
Q93100      1
Q9NRX1      1
Q12857      1
O75152      1
P04920      1
Q9NPJ8      1
P12931      1
Q96N66      1
Name: entry, Length: 4084, dtype: int64

In [132]:
togethergenecount.to_csv("CYSLYS2012_everlabeled_gene_valueCounts_4084.csv")

# finding genes that have most labeleing, want to count # of LOW MED HIGH

In [140]:
allR = allreact2[['Threshold', 'entry','pos']].copy()

In [141]:
allR.head(4)

  Threshold   entry   pos
0      High  P52758  K117
1      High  P02766   K35
2      High  P51572   K79
3      High  P60900  K116

In [143]:
allgrouped = allR.groupby(['entry','Threshold'])['pos'].apply(list)
allgrouped

entry   Threshold
A0AVT1  Medium                               [C347, K86, C433]
A0MZ66  Low                                             [C565]
A1L0T0  Low                                             [K538]
A6NDG6  Low                                        [K72, K302]
        Medium                                          [C297]
A6NDU8  Low                                              [C57]
A6NED2  High                                            [C139]
A6NHL2  Medium                              [C323, C322, C354]
A6NNF4  Low                                              [C55]
A9UHW6  Low                                              [K53]
        Medium                                           [C49]
O00148  Low                                 [K240, K162, K130]
O00151  Low                                   [K71, K22, K246]
        Medium                                    [K256, K103]
O00154  Low          [K168, K369, K362, K205, K78, K198, K157]
        Medium                                          [K286]
O00159  Medium                                         [K1049]
O00170  Low                                  [K273, K69, K103]
        Medium                              [C122, C121, K210]
O00193  Low                                         [K62, K91]
O00203  High                                             [K72]
O00231  Low                                  [K59, K175, K258]
        Medium                                           [K32]
O00232  Low                                  [K147, K330, K52]
        Medium                                          [K448]
O00233  Low                                        [K30, K211]
O00244  Low                                              [K25]
        Medium                                 [K60, C12, C15]
O00264  Low                                             [K105]
O00267  High                                            [C626]
                                       ...
Q9Y5K6  Low                                             [C595]
Q9Y5L0  High                                            [K877]
        Low                                             [K563]
Q9Y5L4  Low                                              [K27]
Q9Y5N6  Low                                              [C88]
Q9Y5P6  Low                                             [C245]
Q9Y5Q0  Low                                              [K86]
Q9Y5R8  Low                                             [C115]
Q9Y5S2  High                                           [C1517]
Q9Y5S9  Low                                             [C149]
Q9Y5U9  Low                                         [K49, K29]
Q9Y5Y2  Low                                        [C54, K261]
        Medium                               [C196, C202, C72]
Q9Y617  Low                  [C80, K333, C175, K356, K71, K51]
        Medium                        [K116, K323, K110, K363]
Q9Y673  Low                                             [K139]
Q9Y678  High                                            [K217]
Q9Y696  High                                            [K194]
        Low                                  [K238, K150, K62]
        Medium                          [K124, C35, K24, K130]
Q9Y6A4  Medium                                           [K20]
Q9Y6A5  High                                            [K774]
Q9Y6A9  Low                                             [K143]
Q9Y6C9  Medium                                           [K90]
Q9Y6E0  Medium                                           [C89]
Q9Y6E2  Low                                             [K391]
Q9Y6I4  High                                            [C302]
Q9Y6J0  Low                                            [C1197]
Q9Y6M9  Low                                              [C42]
Q9Y6W6  Low                                             [C177]
Name: pos, Length: 2807, dtype: object

In [146]:
allgrouped.to_csv("ALLReact2012_grouped_entry_threshold_2807.csv")