# FOUND/NOT FOUND PANEL 1 - primary accesion search in Ensembl xrefs and 2018 reference proteome

## also XREF vs MY IDENTITY SCORE calculated, saved .xlsx to PRISM folder

11.15.19

mfpfox

## UniProt database version used by Nature Cys and Lysine papers: 
- Global profiling of lysine reactivity and ligandability in the human proteome, supplemental file
    - **using a reverse concatenated, nonredundant variant of the Human UniProt database (release-2012_11)**

**searched in both Trembl and SwissProt db_name for xref files**

| Ensembl release xref | unique IDs found (out of 4,119) | 
|---------------------|-----------|
| v85 | 4087 | 
| v92 | 4075 |
| v94 | 4080 | 
| v96 | 4081 | 
| v97 | 4082 | 

**searched in 2018 reference proteome, UKB/SP CCDS set only**

| 2018 reference proteome | unique IDs found (out of 4,119) | 
|---------------------|-----------|
| UKBCCDS | 4000 |

In [1]:
import os
import sys
import pandas as pd

In [2]:
sys.path.append("/Users/mariapalafox/Desktop/Toolbox")
from all_funx import *

In [3]:
from IPython.display import display, HTML
pd.set_option('display.max_columns', None)
pd.options.display.max_seq_items = 2000
display(HTML("<style>.container {width:90% !important;}</style>"))

os.chdir("/Users/mariapalafox/Box Sync/CODE_DATA/dir_MAPpaper/TSV_UNIPROT_xref")

In [4]:
# same as above but also drops False value rows
def addcolumnconditionalDrop(mapList, df, dfcol, newcol):
    mendel = []
    for g in df[dfcol]:
        if g in mapList:
            mendel.append("True")
        else:
            mendel.append("False")
    df.loc[:, newcol] = mendel
    checkColumnValues(df, newcol)
    print("dropping false")
    df.drop(df[df[newcol] == "False"].index, inplace=True)
    df.reset_index(inplace=True, drop=True)
    print("df shape post drop: ", df.shape)
    return df

In [5]:
def uniqueCount(df, colname):
    print("len of col: ", len(df[colname]))
    print("len of col set: ", len(df[colname].unique()))
    print()

In [7]:
# origianl experiment data, total unique primary accessions 4119
ID = pd.read_csv("IDs/UniqueIDs_og_chemoproteomic_2012_11_4119.csv")

In [8]:
# 3953 ID list 
ID3953 = pd.read_csv("IDs/UKBID_3953set.csv")

In [24]:
# searching in reference proteome 2018
ukb2018 = pd.read_csv("UKBCCDS_FASTA_simple.csv")

In [11]:
v85 = pd.read_csv("v85Homo_sapiens.GRCh37.pep.all.csv")
v92 = pd.read_csv("v92Homo_sapiens.GRCh38.pep.all.csv")
v94 = pd.read_csv("v94Homo_sapiens.GRCh38.pep.all.csv")
v96 = pd.read_csv("v96Homo_sapiens.GRCh38.pep.all.csv")
v97 = pd.read_csv("v97Homo_sapiens.GRCh38.pep.all.csv")

In [9]:
t85 = pd.read_csv("Homo_sapiens.GRCh37.85.uniprot.tsv", delimiter=r"\s+")
t92 = pd.read_csv("Homo_sapiens.GRCh38.92.uniprot.tsv", delimiter=r"\s+")
t94 = pd.read_csv("Homo_sapiens.GRCh38.94.uniprot.tsv", delimiter=r"\s+")
t96 = pd.read_csv("Homo_sapiens.GRCh38.96.uniprot.tsv", delimiter=r"\s+")
t97 = pd.read_csv("Homo_sapiens.GRCh38.97.uniprot.tsv", delimiter=r"\s+")

# Searching for primary accessions from chemoproteomic experiments in all ensembl xref files
- stable ID to primary accession mapping

In [12]:
print(t85.shape)
print(t92.shape)
print(t94.shape)
print(t96.shape)
print(t97.shape)

(206682, 9)
(113729, 9)
(115383, 9)
(117961, 9)
(117505, 9)

In [13]:
# fasta files processed for each ensembl release
v85.head(3)

,ENSPv,ENSP,ENSTv,ENST,ENSGv,ENSG,Length,proSequence
0,ENSP00000451042.1,ENSP00000451042,ENST00000415118.1,ENST00000415118,ENSG00000223997.1,ENSG00000223997,2,EI
1,ENSP00000451515.1,ENSP00000451515,ENST00000434970.2,ENST00000434970,ENSG00000237235.2,ENSG00000237235,3,PSY
2,ENSP00000452494.1,ENSP00000452494,ENST00000448914.1,ENST00000448914,ENSG00000228985.1,ENSG00000228985,4,TGGY

In [14]:
# cross ref files
t85.head(3)

,gene_stable_id,transcript_stable_id,protein_stable_id,xref,db_name,info_type,source_identity,xref_identity,linkage_type
0,ENSG00000186092,ENST00000335137,ENSP00000334393,Q8NH21,Uniprot/SWISSPROT,DIRECT,-,-,-
1,ENSG00000237683,ENST00000423372,ENSP00000473460,B7Z7W4,Uniprot/SPTREMBL,SEQUENCE_MATCH,56,100,-
2,ENSG00000237683,ENST00000423372,ENSP00000473460,R4GN28,Uniprot/SPTREMBL,SEQUENCE_MATCH,100,100,-

In [16]:
# making ID list to file
print(ID.shape)
idls = list(ID.unique_IDs)
print(len(idls))

(4119, 1)
4119

In [18]:
# making ID list to file
print(ID3953.shape)
idls2 = list(ID3953.ID)
print(len(idls2))

(3953, 1)
3953

In [17]:
# 4119 ID search 
found85 = addcolumnconditionalDrop(idls, t85, 'xref', 'found_4119set')
found92 = addcolumnconditionalDrop(idls, t92, 'xref', 'found_4119set')
found94 = addcolumnconditionalDrop(idls, t94, 'xref', 'found_4119set')
found96 = addcolumnconditionalDrop(idls, t96, 'xref', 'found_4119set')
found97 = addcolumnconditionalDrop(idls, t97, 'xref', 'found_4119set')

  found_4119set   Count
0         False  196216
1          True   10466
dropping false
df shape post drop:  (10466, 10)
  found_4119set   Count
0         False  103081
1          True   10648
dropping false
df shape post drop:  (10648, 10)
  found_4119set   Count
0         False  104507
1          True   10876
dropping false
df shape post drop:  (10876, 10)
  found_4119set   Count
0         False  107028
1          True   10933
dropping false
df shape post drop:  (10933, 10)
  found_4119set   Count
0         False  106671
1          True   10834
dropping false
df shape post drop:  (10834, 10)

In [19]:
# 3953 ID search 
found85_2 = addcolumnconditionalDrop(idls2, t85, 'xref', 'found_3953set')
found92_2 = addcolumnconditionalDrop(idls2, t92, 'xref', 'found_3953set')
found94_2 = addcolumnconditionalDrop(idls2, t94, 'xref', 'found_3953set')
found96_2 = addcolumnconditionalDrop(idls2, t96, 'xref', 'found_3953set')
found97_2 = addcolumnconditionalDrop(idls2, t97, 'xref', 'found_3953set')

  found_3953set   Count
0         False  196499
1          True   10183
dropping false
df shape post drop:  (10183, 10)
  found_3953set   Count
0         False  103334
1          True   10395
dropping false
df shape post drop:  (10395, 10)
  found_3953set   Count
0         False  104771
1          True   10612
dropping false
df shape post drop:  (10612, 10)
  found_3953set   Count
0         False  107298
1          True   10663
dropping false
df shape post drop:  (10663, 10)
  found_3953set   Count
0         False  106941
1          True   10564
dropping false
df shape post drop:  (10564, 10)

---
---

## ANALYSIS for 4,119 ID filtered files
#### how many unique IDs out of 4119 total found ?

In [19]:
# how many unique IDs found?
uniqueCount(found85, 'xref')
uniqueCount(found92, 'xref')
uniqueCount(found94, 'xref')
uniqueCount(found96, 'xref')
uniqueCount(found97, 'xref')

len of col:  10466
len of col set:  4087

len of col:  10648
len of col set:  4075

len of col:  10876
len of col set:  4080

len of col:  10933
len of col set:  4081

len of col:  10834
len of col set:  4082

In [21]:
# how many rows have TREMBL db_name 
checkColumnValues(found85,'db_name')
checkColumnValues(found92,'db_name')
checkColumnValues(found94,'db_name')
checkColumnValues(found96,'db_name')
checkColumnValues(found97,'db_name')

             db_name  Count
0  Uniprot/SWISSPROT  10446
1   Uniprot/SPTREMBL     20
             db_name  Count
0  Uniprot/SWISSPROT  10625
1   Uniprot/SPTREMBL     23
             db_name  Count
0  Uniprot/SWISSPROT  10854
1   Uniprot/SPTREMBL     22
             db_name  Count
0  Uniprot/SWISSPROT  10911
1   Uniprot/SPTREMBL     22
             db_name  Count
0  Uniprot/SWISSPROT  10812
1   Uniprot/SPTREMBL     22

In [26]:
# searhcing for IDs in CCDS UKB 2018 reference proteome
ukb2018.shape

(18433, 2)

In [27]:
found2018 = addcolumnconditionalDrop(idls, ukb2018, 'ID', 'found_4119set')
uniqueCount(found2018, 'ID')

  found_4119set  Count
0         False  14433
1          True   4000
dropping false
df shape post drop:  (4000, 3)

---
---

# ANALYSIS for 3953 filtered xref files
### compare identity score reported to my identity score

In [20]:
uniqueCount(found85_2, 'xref')
uniqueCount(found92_2, 'xref')
uniqueCount(found94_2, 'xref')
uniqueCount(found96_2, 'xref')
uniqueCount(found97_2, 'xref')

len of col:  10183
len of col set:  3953

len of col:  10395
len of col set:  3953

len of col:  10612
len of col set:  3953

len of col:  10663
len of col set:  3953

len of col:  10564
len of col set:  3953

In [23]:
found85_2.head(3)

,gene_stable_id,transcript_stable_id,protein_stable_id,xref,db_name,info_type,source_identity,xref_identity,linkage_type,found_3953set
0,ENSG00000187608,ENST00000379389,ENSP00000368699,P05161,Uniprot/SWISSPROT,DIRECT,-,-,-,True
1,ENSG00000078808,ENST00000360001,ENSP00000353094,Q9BRK5,Uniprot/SWISSPROT,DIRECT,-,-,-,True
2,ENSG00000078808,ENST00000263741,ENSP00000263741,Q9BRK5,Uniprot/SWISSPROT,DIRECT,-,-,-,True

In [21]:
# how many rows have TREMBL db_name 
checkColumnValues(found85_2,'db_name')
checkColumnValues(found92_2,'db_name')
checkColumnValues(found94_2,'db_name')
checkColumnValues(found96_2,'db_name')
checkColumnValues(found97_2,'db_name')

             db_name  Count
0  Uniprot/SWISSPROT  10183
             db_name  Count
0  Uniprot/SWISSPROT  10395
             db_name  Count
0  Uniprot/SWISSPROT  10612
             db_name  Count
0  Uniprot/SWISSPROT  10663
             db_name  Count
0  Uniprot/SWISSPROT  10564

# checking # of IDs left after filtering for 100 in xref_identity and source_identity column

In [25]:
# dropping all rows where xref_identity (ukb sequence) was not matched 100 % to ensembl
def dropNot100xref_identity(df):
    df2 = df[df['xref_identity']=="100"]
    return df2

def dropNot100source_identity(df):
    df2 = df[df['source_identity']=="100"]
    return df2

In [26]:
Lx85 = dropNot100xref_identity(found85_2)
Lx92 = dropNot100xref_identity(found92_2)
Lx94 = dropNot100xref_identity(found94_2)
Lx96 = dropNot100xref_identity(found96_2)
Lx97 = dropNot100xref_identity(found97_2)

In [27]:
# first filter output
print(Lx85.shape)
print(Lx92.shape)
print(Lx94.shape)
print(Lx96.shape)
print(Lx97.shape)

(10, 10)
(6016, 10)
(6167, 10)
(6203, 10)
(6127, 10)

In [28]:
Lx85 = dropNot100source_identity(Lx85)
Lx92 = dropNot100source_identity(Lx92)
Lx94 = dropNot100source_identity(Lx94)
Lx96 = dropNot100source_identity(Lx96)
Lx97 = dropNot100source_identity(Lx97)

# final count post filtering
print(Lx85.shape)
print(Lx92.shape)
print(Lx94.shape)
print(Lx96.shape)
print(Lx97.shape)

(10, 10)
(5884, 10)
(6036, 10)
(6076, 10)
(6005, 10)

In [29]:
print(len(Lx85['xref'].unique()))
print(len(Lx92['xref'].unique()))
print(len(Lx94['xref'].unique()))
print(len(Lx96['xref'].unique()))
print(len(Lx97['xref'].unique()))

8
3846
3869
3874
3872

In [30]:
# multi mapping and xref 100 table: compare this with my TRUE identity IDs
Lx85.to_csv("v85_labeledEverUKBID_xref100_sourceref100_3953_10.csv")
Lx92.to_csv("v92_labeledEverUKBID_xref100_sourceref100_3953_5884.csv")
Lx94.to_csv("v94_labeledEverUKBID_xref100_sourceref100_3953_6036.csv")
Lx96.to_csv("v96_labeledEverUKBID_xref100_sourceref100_3953_6076.csv")
Lx97.to_csv("v97_labeledEverUKBID_xref100_sourceref100_3953_6005.csv")