In [3]:
# packages
import os
import sys
import numpy as np
import pandas as pd
from IPython.display import display, HTML
pd.set_option('display.max_columns', None)
pd.options.display.max_seq_items = 2000
display(HTML("<style>.container {width:90% !important;}</style>"))
sys.path.append("/Users/mariapalafox/Desktop/Toolbox")
from all_funx import *

In [4]:
# !/usr/bin/env python3
# -*- coding: utf-8 -*-

# Pmap_filteron_posID.py
# GOAL filtering already made CADD maxmean score files with detected and not detecte Cys and Lys positions for map paper. using updated count of uniprot IDs as 3,840 (number shared post dbNSFP mapping)

def filter_by_col(df, outname, fil, filcol):
    fil_list = fil[filcol].tolist()
    filtered = addcolumnconditionalDrop(fil_list, df, filcol, 'in_set')
    print("filter file shape: ", filtered.shape)
#     filtered.to_csv(outname, index=False)
    return filtered

In [5]:
os.chdir("/Users/mariapalafox/Box Sync/CODE_DATA/dir_MAPpaper/CADDmapped/RESULT_CADDv14_pos_overlap_dbNSFPcoordinates/")

# search files with pos_ID (ukbid_aapos)
detfilter = "PULL_annotations/SEARCH_hg19_DETECTED_104475.csv"
notfilter = "PULL_annotations/SEARCH_hg19_NOT_DETECTED_1222911.csv"
detfil = pd.read_csv(detfilter, usecols=['pos_ID'])
notfil = pd.read_csv(notfilter, usecols=['pos_ID'])
detfil.drop_duplicates(keep='first', inplace=True)
notfil.drop_duplicates(keep='first', inplace=True)
print("detected post drop duplicate shape of df: ", detfil.shape)
print("not detected post drop duplicate shape: ", notfil.shape)
print(detfil.head(2))
print()
print(notfil.head(2))

# saving non redundant on pos_ID search files
os.chdir("/Users/mariapalafox/Box Sync/CODE_DATA/dir_MAPpaper/CADDmapped/BUG_FIX/NOT_3840_FILTERED")
# detfil.to_csv("FILTER_detected_pos_ID_14925.csv", index=False)
# notfil.to_csv("FILTER_notdetected_pos_ID_174702.csv", index=False)

detected post drop duplicate shape of df:  (14925, 1)
not detected post drop duplicate shape:  (174702, 1)
        pos_ID
0  Q3ZCM7_C354
7  Q3ZCM7_C303

        pos_ID
0  Q3ZCM7_K392
7  Q3ZCM7_K379

In [13]:
detfil

             pos_ID
0       Q3ZCM7_C354
7       Q3ZCM7_C303
14      Q3ZCM7_C239
21       Q3ZCM7_C12
28      Q92615_C633
...             ...
104440   P51809_K83
104447   O14602_K68
104454   O14602_K88
104461  O14602_K104
104468  O14602_K114

[14925 rows x 1 columns]

In [28]:
# Knot = pd.read_csv("CADDspecific_K_notdetected_1015295x2rows.csv")
# Cnot = pd.read_csv("CADDspecific_C_notdetected_244506x2rows.csv")
# Kdet = pd.read_csv("CADDspecific_K_detected_63014x2rows.csv")
# Cdet = pd.read_csv("CADDspecific_C_detected_43050x2rows.csv")

Knot3 = pd.read_csv("POSspecific_K_notdetected_maxmean_145027x2pos.csv")
Cnot3 = pd.read_csv("POSspecific_C_notdetected_maxmean_34930x2pos.csv")
Kdet3 = pd.read_csv("POSspecific_K_detected_maxmean_9002x2pos.csv")
Cdet3 = pd.read_csv("POSspecific_C_detected_maxmean_6150x2pos.csv")

In [30]:
Knot3.columns = ['pos_ID', 'xref', 'geneNamePrimary', 'CADD_avg', 'CADD_max', 'assembly']

Cnot3.columns = ['pos_ID', 'xref', 'geneNamePrimary', 'CADD_avg', 'CADD_max', 'assembly']

Kdet3.columns = ['pos_ID', 'xref', 'Lys_reactivity', 'Lys_react_threshold',
       'Lys_target_label', 'geneNamePrimary', 'CADD_avg', 'CADD_max', 'assembly']

Cdet3.columns = ['pos_ID', 'xref', 'Cys_reactivity', 'Cys_react_threshold',
       'Cys_target_label', 'geneNamePrimary', 'CADD_avg', 'CADD_max','assembly']

dfls = [Knot3, Cnot3, Kdet3, Cdet3]
for i in dfls:
    print(i.columns)
    print()

Index(['pos_ID', 'xref', 'geneNamePrimary', 'CADD_avg', 'CADD_max',
       'assembly'],
      dtype='object')

Index(['pos_ID', 'xref', 'geneNamePrimary', 'CADD_avg', 'CADD_max',
       'assembly'],
      dtype='object')

Index(['pos_ID', 'xref', 'Lys_reactivity', 'Lys_react_threshold',
       'Lys_target_label', 'geneNamePrimary', 'CADD_avg', 'CADD_max',
       'assembly'],
      dtype='object')

Index(['pos_ID', 'xref', 'Cys_reactivity', 'Cys_react_threshold',
       'Cys_target_label', 'geneNamePrimary', 'CADD_avg', 'CADD_max',
       'assembly'],
      dtype='object')

In [9]:
# notcols = ['pos_id19', 'pos_id38', 'xref', 'matched_target', 'lost_amino',
#        'gained_amino', 'Amino_acids', 'pos_ID',
#        'geneNamePrimary', 'CADD_score', 'assembly']
# Knot.columns = notcols
# Cnot.columns = notcols

In [19]:
# K detected 
Kdet2 = pd.merge(Kdet, detfil, how='inner', on=['pos_ID'])
# C detected 
Cdet2 = pd.merge(Cdet, detfil, how = 'inner', on=['pos_ID'])

 # K not detected
Knot2 = pd.merge(Knot, notfil, how='inner', on=['pos_ID'])

# C not detected 
Cnot2 = pd.merge(Cnot, notfil, how='inner', on=['pos_ID'])

In [31]:
# K detected 
Kdet4 = pd.merge(Kdet3, detfil, how='inner', on=['pos_ID'])
# C detected 
Cdet4 = pd.merge(Cdet3, detfil, how = 'inner', on=['pos_ID'])

 # K not detected
Knot4 = pd.merge(Knot3, notfil, how='inner', on=['pos_ID'])

# C not detected 
Cnot4 = pd.merge(Cnot3, notfil, how='inner', on=['pos_ID'])

In [20]:
dfls = [Knot2, Cnot2, Kdet2, Cdet2]
for i in dfls:
    print(i.shape)
    print()

(1969124, 11)

(476698, 11)

(124152, 15)

(84798, 15)

In [24]:
print(1969124 + 476698)
print(2445822/2)

# deteceted
print((124152+84798)/2)

2445822
1222911.0
104475.0

In [27]:
Knot2.to_csv("CADDspecific_K_notdetected_1222911x2.csv")
Cnot2.to_csv("CADDspecific_C_notdetected_1222911x2.csv")
Kdet2.to_csv("CADDspecific_K_detected_104474x2.csv")
Cdet2.to_csv("CADDspecific_C_detected_104474x2.csv")

In [26]:
Kdet

,pos_id19,pos_id38,xref,matched_target,lost_amino,gained_amino,Amino_acids,pos_ID,Lys_reactivity,Lys_react_threshold,Lys_target_label,geneNamePrimary,CADD_score,assembly,posID14925
0,10_001046806_A_C,10_001000866_A_C,Q9BZE4,K282,Lys,Gln,Lys/Gln,Q9BZE4_K282,1.2,High,NaN,GTPBP4,33.00,hg19,True
1,10_001046806_A_G,10_001000866_A_G,Q9BZE4,K282,Lys,Glu,Lys/Glu,Q9BZE4_K282,1.2,High,NaN,GTPBP4,33.00,hg19,True
2,10_001046807_A_C,10_001000867_A_C,Q9BZE4,K282,Lys,Thr,Lys/Thr,Q9BZE4_K282,1.2,High,NaN,GTPBP4,33.00,hg19,True
3,10_001046807_A_G,10_001000867_A_G,Q9BZE4,K282,Lys,Arg,Lys/Arg,Q9BZE4_K282,1.2,High,NaN,GTPBP4,33.00,hg19,True
4,10_001046807_A_T,10_001000867_A_T,Q9BZE4,K282,Lys,Met,Lys/Met,Q9BZE4_K282,1.2,High,NaN,GTPBP4,34.00,hg19,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124147,Y_022751373_A_C,Y_020589487_A_C,O14602,K114,Lys,Thr,Lys/Thr,O14602_K114,NaN,NaN,panReactive,EIF1AY,19.71,hg38,True
124148,Y_022751373_A_G,Y_020589487_A_G,O14602,K114,Lys,Arg,Lys/Arg,O14602_K114,NaN,NaN,panReactive,EIF1AY,17.92,hg38,True
124149,Y_022751373_A_T,Y_020589487_A_T,O14602,K114,Lys,Ile,Lys/Ile,O14602_K114,NaN,NaN,panReactive,EIF1AY,22.20,hg38,True
124150,Y_022751374_A_C,Y_020589488_A_C,O14602,K114,Lys,Asn,Lys/Asn,O14602_K114,NaN,NaN,panReactive,EIF1AY,22.10,hg38,True
124151,Y_022751374_A_T,Y_020589488_A_T,O14602,K114,Lys,Asn,Lys/Asn,O14602_K114,NaN,NaN,panReactive,EIF1AY,22.10,hg38,True

In [32]:
dfls = [Knot4, Cnot4, Kdet4, Cdet4]
for i in dfls:
    print(i.shape)
    print()

(281304, 6)

(68100, 6)

(17736, 9)

(12114, 9)

In [36]:
Knot4

              pos_ID    xref geneNamePrimary   CADD_avg  CADD_max assembly
0       A0AVT1_K1003  A0AVT1            UBA6  29.342857      34.0     hg19
1       A0AVT1_K1003  A0AVT1            UBA6  27.600000      33.0     hg38
2       A0AVT1_K1006  A0AVT1            UBA6  24.092857      33.0     hg19
3       A0AVT1_K1006  A0AVT1            UBA6  24.385714      32.0     hg38
4       A0AVT1_K1011  A0AVT1            UBA6  25.685714      30.0     hg19
...              ...     ...             ...        ...       ...      ...
281299   Q9Y6Y8_K938  Q9Y6Y8         SEC23IP  26.885714      33.0     hg38
281300   Q9Y6Y8_K955  Q9Y6Y8         SEC23IP  25.128571      27.0     hg19
281301   Q9Y6Y8_K955  Q9Y6Y8         SEC23IP  28.528571      33.0     hg38
281302   Q9Y6Y8_K985  Q9Y6Y8         SEC23IP  25.914286      28.4     hg19
281303   Q9Y6Y8_K985  Q9Y6Y8         SEC23IP  27.328571      31.0     hg38

[281304 rows x 6 columns]

In [39]:
281304/2

140652.0

In [40]:
68100/2

34050.0

In [37]:
17736/2

8868.0

In [38]:
12114/2

6057.0

In [41]:
Knot4.to_csv("POSspecific_K_notdetected_maxmean_140652x2.csv")
Cnot4.to_csv("POSspecific_C_notdetected_maxmean_34050x2.csv")
Kdet4.to_csv("POSspecific_K_detected_maxmean_8868x2.csv")
Cdet4.to_csv("POSspecific_C_detected_maxmean_6057x2.csv")